<template>
  <el-card>

    <div class="enhavo_teksto_titolo">
      <div>Правила защиты информации о пользователях сайта TEHNOKOM.SU</div>
    </div>
    <div>
      <div>
        <div class="wikiSubHeader"><strong>1. Общие положения</strong></div>
        <ul class="listing">
          <li><b>1.1.</b> Настоящие Правила являются официальным документом Общества с ограниченной ответственностью
            «СО-Профит», расположенного по адресу Российская Федерация, 192007, Санкт-Петербург, ул. Тамбовская 75а оф.
            2-н (далее – Администрация Сайта) и определяют порядок обработки и защиты информации о физических лицах,
            пользующихся услугами интернет-сайта <nuxt-link to="/" target="_blank" rel="noopener">https://tehnokom.su/</nuxt-link>
            (далее – Сайт) и его сервисов (далее – Пользователи).
          </li>
          <li><b>1.2.</b> Целью настоящих Правил является обеспечение надлежащей защиты информации о пользователях, в
            том числе их персональных данных, от несанкционированного доступа и разглашения.
          </li>
          <li><b>1.3.</b> Отношения, связанные со сбором, хранением, распространением и защитой информации о
            пользователях Сайта, регулируются настоящими Правилами, иными официальными документами Администрации Сайта и
            действующим законодательством Российской Федерации.
          </li>
          <li><b>1.4.</b> Действующая редакция Правил, являющихся публичным документом, доступна любому пользователю
            сети Интернет при переходе по ссылке <nuxt-link to="/privateco">http://tehnokom.su/privateco</nuxt-link>.
            Администрация Сайта вправе вносить изменения в настоящие Правила. При внесении изменений в Правила
            Администрация Сайта уведомляет об этом пользователей путем размещения новой редакции Правил на Сайте по
            постоянному адресу <nuxt-link to="/privateco">https://tehnokom.su/privateco</nuxt-link>, чем за 10 дней до вступления
            в силу соответствующих изменений. Предыдущие редакции Правил хранятся в архиве документации Администрации
            Сайта.
          </li>
          <li><b>1.5.</b> Настоящие Правила разработаны и используются в соответствии с Правилами пользования сайтом
            TEHNOKOM.SU, размещенными на Сайте по адресу <nuxt-link to="/reguloj" target="_blank"
                                                            rel="noopener">https://tehnokom.su/reguloj</nuxt-link>. В случае наличия
            противоречий между настоящими Правилами и иными официальными документами Администрации Сайта применению
            подлежат настоящие Правила.
          </li>
          <li><b>1.6.</b> Регистрируясь и используя Сайт, Пользователь выражает свое согласие с условиями настоящих
            Правил.
          </li>
          <li><b>1.7.</b> В случае несогласия Пользователя с условиями настоящих Правил использование Сайта и его
            сервисов должно быть немедленно прекращено.
          </li>
        </ul>
        <p><a name="2. Условия пользования Сайтом"></a></p>
        <div class="wikiSubHeader"><strong>2. Условия пользования Сайтом</strong></div>
        <ul class="listing">
          <li><b>2.1.</b> Оказывая услуги по использованию Сайта и его сервисов (далее – Услуги Сайта), Администрация
            Сайта, действуя разумно и добросовестно, считает, что Пользователь:
            <ul class="listing">
              <li>обладает всеми необходимыми правами, позволяющими ему осуществлять регистрацию и использовать
                настоящий Сайт;
              </li>
              <li>указывает достоверную информацию о себе в объемах, необходимых для пользования Услугами Сайта;</li>
              <li>осознает, что информация на Сайте, размещаемая Пользователем о себе, может становиться доступной для
                других Пользователей Сайта и пользователей Интернета, может быть скопирована и распространена такими
                пользователями;
              </li>
              <li>осознает, что некоторые виды информации, переданные им другим Пользователям, не могут быть удалены
                самим Пользователем;
              </li>
              <li>ознакомлен с настоящими Правилами, выражает свое согласие с ними и принимает на себя указанные в них
                права и обязанности.
              </li>
            </ul>
          </li>
          <li><b>2.2.</b> Администрация Сайта не проверяет достоверность получаемой (собираемой) информации о
            пользователях, за исключением случаев, когда такая проверка необходима в целях исполнения Администрацией
            Сайта обязательств перед пользователем.
          </li>
        </ul>
        <p><a name="3. Цели обработки информации"></a></p>
        <div class="wikiSubHeader"><strong>3. Цели обработки информации</strong></div>
        <p>Администрация Сайта осуществляет обработку информации о Пользователях, в том числе их персональных данных, в
          целях выполнения обязательств Администрации Сайта перед Пользователями в отношении использования Сайта и его
          сервисов.</p>
        <p><a name="4. Состав информации о пользователях"></a></p>
        <div class="wikiSubHeader"><strong>4. Состав информации о пользователях</strong></div>
        <ul class="listing">
          <li><b>4.1. Персональные данные Пользователей</b><br>
            Персональные данные Пользователей включают в себя:<p></p>
            <ul class="listing">
              <li><b>4.1.1.</b> предоставляемые Пользователями и минимально необходимые для регистрации на Сайте: имя,
                фамилия, пол, номер мобильного телефона и/или адрес электронной почты;
              </li>
              <li><b>4.1.2.</b> предоставляемые Пользователями с использованием раздела редактирования своих страниц на
                Сайте https://tehnokom.su/uzantoj/[индивидуальная ссылка аккаунта]/profile (в том числе семейное
                положение, дата рождения, родной город, родственные связи, домашний адрес, информация об образовании);
              </li>
              <li><b>4.1.3.</b> дополнительно предоставляемые Пользователями по запросу Администрации Сайта в целях
                исполнения Администрацией Сайта обязательств перед Пользователями, вытекающих из договора на оказание
                Услуг Сайта. Администрация Сайта вправе, в частности, запросить у Пользователя копию документа,
                удостоверяющего личность, либо иного документа, содержащего имя, фамилию, фотографию Пользователя, а
                также иную дополнительную информацию, которая, по усмотрению Администрации Сайта, будет являться
                необходимой и достаточной для идентификации такого Пользователя и позволит исключить злоупотребления и
                нарушения прав третьих лиц.
              </li>
            </ul>
          </li>
          <li><b>4.2. Иная информация о Пользователях, обрабатываемая Администрацией Сайта</b><br>
            Администрация Сайта может также обрабатывать иную информацию о Пользователях, которая включает в себя:
            <p></p>
            <ul class="listing">
              <li><b>4.2.1.</b> дополнительные данные, получаемые при доступе к Сайту, включающие в себя данные о
                технических средствах (устройствах), технологическом взаимодействии с Сайтом (в т.ч. IP-адрес хоста, вид
                операционной системы пользователя, тип браузера, географическое положение, поставщик услуг Интернета,
                данные из адресной книги, данные, полученные в результате доступа к камере, микрофону и т.п. устройств),
                и последующих действиях Пользователя на Сайте. Информация, содержащая историю посещения Сайта
                пользователем, доступна Пользователю в разделе «Настройки / Безопасность»;
              </li>
              <li><b>4.2.2.</b> информация, автоматически получаемая при доступе к Сайту с использованием закладок
                (cookies);
              </li>
              <li><b>4.2.3.</b> информация, создаваемая пользователями на Сайте вне раздела редактирования страниц
                https://tehnokom.su/uzantoj/[индивидуальная ссылка аккаунта] (в том числе статусы, записи в микроблоге
                («Стена»), фотографии, аудиозаписи, видеозаписи, комментарии, записи в обсуждениях групп);
              </li>
              <li><b>4.2.4.</b> информация, полученная в результате действий Пользователя на Сайте (в частности,
                информация о вступлении в группу / выходе из группы и участие в сообществах других типов, составления
                перечня ресурсов и их потребностей, составления перечня задач и действий по мним, внесения различных
                медицинских данных, добавлении других Пользователей в список друзей, размещении фотографий, принятии
                участия / отказа от участия во встречах, добавлении видеозаписей). Данная информация о Пользователе
                может быть доступна для всех друзей пользователя в различных разделах в соответствии с настройками
                пользователя и функционала Сайта;
              </li>
              <li><b>4.2.5.</b> информация, полученная в результате действий других пользователей на Сайте (в частности,
                отметки, сделанные на видеозаписях и фотографиях другими Пользователями).
              </li>
            </ul>
          </li>
        </ul>
        <p><a name="5. Обработка информации о пользователях"></a></p>
        <div class="wikiSubHeader"><strong>5. Обработка информации о пользователях</strong></div>
        <ul class="listing">
          <li><b>5.1. Обработка персональных данных осуществляется на основе принципов:</b><br>
            а) законности целей и способов обработки персональных данных;<br>
            б) добросовестности;<br>
            в) соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе
            персональных данных, а также полномочиям Администрации Сайта;<br>
            г) соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных
            данных целям обработки персональных данных;<br>
            д) недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих
            персональные данные.<p></p>
            <ul class="listing">
              <li><b>5.1.1.</b> Условия и цели обработки персональных данных<br>
                Администрация Сайта осуществляет обработку персональных данных пользователя в целях исполнения договора
                между Администрацией Сайта и Пользователем на оказание Услуг Сайта (п. 2.2 Правил пользования Сайтом
                TEHNOKOM.SU <nuxt-link to="/reguloj" target="_blank"
                               rel="noopener"><b>https://tehnokom.su/reguloj</b></nuxt-link>). В силу статьи 6 Федерального закона от
                27.07.2006 № 152-ФЗ «О персональных данных» отдельное согласие пользователя на обработку его
                персональных данных не требуется. В силу п.п. 2 п. 2 статьи 22 указанного закона Администрация Сайта
                вправе осуществлять обработку персональных данных без уведомления уполномоченного органа по защите прав
                субъектов персональных данных.
              </li>
              <li><b>5.1.2.</b> Сбор персональных данных<br>
                Сбор персональных данных Пользователя осуществляется на Сайте при регистрации, а также в дальнейшем при
                внесении пользователем по своей инициативе дополнительных сведений о себе с помощью инструментария
                Сайта.<br>
                Персональные данные, предусмотренные п. 4.1.1. настоящих Правил, предоставляются Пользователем и
                являются минимально необходимыми при регистрации.<br>
                Персональные данные, предусмотренные п. 4.1.2. настоящих Правил, дополнительно предоставляются
                Пользователем по собственной инициативе с использованием функционала Сайта.
              </li>
              <li><b>5.1.3.</b> Хранение и использование персональных данных<br>
                Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются с
                использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка
                персональных данных необходима в связи с исполнением требований законодательства.
              </li>
              <li><b>5.1.4.</b> Передача персональных данных<br>
                Персональные данные Пользователей не передаются каким-либо третьим лицам, за исключением случаев, прямо
                предусмотренных настоящими Правилами.<br>
                При указании пользователя или при наличии согласия пользователя возможна передача персональных данных
                пользователя третьим лицам-контрагентам Администрации Сайта с условием принятия такими контрагентами
                обязательств по обеспечению конфиденциальности полученной информации, в частности, при использовании
                приложений.<br>
                Приложения, используемые пользователями на Сайте, размещаются и поддерживаются третьими лицами
                (разработчиками), которые действуют независимо от Администрации Сайта и не выступают от имени или по
                поручению Администрации Сайта. Пользователи обязаны самостоятельно ознакомиться с правилами оказания
                услуг и политикой защиты персональных данных таких третьих лиц (разработчиков) до начала использования
                соответствующих приложений.<br>
                Действия таких третьих лиц (разработчиков) регулируются официальным документом Администрации Сайта
                Условиями размещения приложений.<br>
                Предоставление персональных данных Пользователей по запросу государственных органов (органов местного
                самоуправления) осуществляется в порядке, предусмотренном законодательством.<br>
                В целях исполнения соглашения между Пользователем и Администрацией Сайта и предоставления Пользователю
                доступа к использованию функционала Сайта, Администрация Сайта развивает предоставляемые сервисы и
                продукты, разрабатывает и внедряет новые сервисы и продукты, оптимизирует качество сервисов и продуктов,
                совершенствует доступный функционал Сайта и сервисов. Для обеспечения реализации указанных целей
                Пользователь соглашается на осуществление Администрацией Сайта с соблюдением применимого
                законодательства сбора, хранения, накопления, систематизации, извлечения, сопоставления, использования,
                наполнения (уточнения) их данных, а также на получение и передачу аффилированным лицам и партнерам
                результатов автоматизированной обработки таких данных с применением различных моделей оценки информации,
                в виде целочисленных и/или текстовых значений и идентификаторов, соответствующих заданным в запросах
                оценочным критериям, для обработки данных Администрацией Сайта и/или лицами, указанными в настоящем
                пункте.
              </li>
              <li><b>5.1.5.</b> Уничтожение персональных данных<br>
                Персональные данные пользователя уничтожаются при:<br>
                – самостоятельном удалении Пользователем данных со своей персональной страницы;<br>
                – самостоятельном удалении Пользователем своей персональной страницы с использованием функциональной
                возможности «удалить свою страницу», доступной Пользователю в разделе «Мои настройки»;<br>
                – удалении Администрацией Сайта информации, размещаемой Пользователем, а также персональной страницы
                Пользователя в случаях, установленных Правилами пользования сайтом TEHNOKOM.SU <nuxt-link to="/reguloj" target="_blank" rel="noopener"><b>https://tehnokom.su/reguloj</b></nuxt-link>
                (п.п. 7.2.2. и 8.6.).<br>
                В случае удаления персональной страницы Администрация Сайта хранит на своих электронных носителях
                персональные и иные необходимые данные Пользователя в течение необходимого и установленного действующим
                законодательством Российской Федерации срока. В случае самостоятельного удаления своей персональной
                страницы Пользователь вправе восстановить свою персональную страницу в течение 210 дней с момента
                самостоятельного удаления персональной страницы.
              </li>
            </ul>
          </li>
          <li><b>5.2.</b> Размещая информацию на персональной странице, в том числе свои персональные данные,
            Пользователь осознает и соглашается с тем, что указанная информация может быть доступна другим пользователям
            сети Интернет с учетом особенностей архитектуры и функционала Сайта. Пользователь самостоятельно определяет
            режим конфиденциальности и условия доступа к информации, указанной в п.п. 4.2.3 – 4.2.5 настоящих Правил,
            посредством соответствующих настроек. Администрация Сайта принимает технические и организационные меры по
            обеспечению функционирования соответствующего инструментария Сайта.
          </li>
        </ul>
        <p><a name="6. Права и обязанности пользователей"></a></p>
        <div class="wikiSubHeader"><strong>6. Права и обязанности пользователей</strong></div>
        <ul class="listing">
          <li><b>6.1. Пользователи вправе:</b>
            <ul class="listing">
              <li><b>6.1.1.</b> осуществлять свободный бесплатный доступ к информации о себе посредством загрузки своих
                персональных страниц на Сайте с использованием логина и пароля;
              </li>
              <li><b>6.1.2.</b> с помощью инструментария Сайта установить в отношении информации о себе желаемый уровень
                конфиденциальности (условия доступа к информации) в соответствии с п. 6.3 настоящих Правил;
              </li>
              <li><b>6.1.3.</b> самостоятельно вносить изменения и исправления в информацию о себе на персональной
                странице Пользователя на Сайте, при условии, что такие изменения и исправления содержат актуальную и
                достоверную информацию;
              </li>
              <li><b>6.1.4.</b> удалять информацию о себе со своей персональной страницы на Сайте;</li>
              <li><b>6.1.5.</b> требовать от Администрации Сайта уточнения своих персональных данных, их блокирования
                или уничтожения в случае, если такие данные являются неполными, устаревшими, недостоверными, незаконно
                полученными или не являются необходимыми для заявленной цели обработки и если невозможно самостоятельно
                выполнить действия, предусмотренные п.п. 6.1.3. и 6.1.4. настоящих Правил;
              </li>
              <li><b>6.1.6.</b> на основании запроса получать от Администрации Сайта информацию, касающуюся обработки
                его персональных данных.
              </li>
            </ul>
          </li>
          <li><b>6.2.</b> Поскольку Сайт является универсальным средством коммуникации и поиска людей и главной функцией
            Сайта является восстановление и поддержание связей со старыми и новыми знакомыми, следующая информация о
            зарегистрированном Пользователе всегда доступна любому зарегистрированному Пользователю Сайта:
            <ul class="listing">
              <li><b>6.2.1.</b> фамилия и имя Пользователя;</li>
              <li><b>6.2.2.</b> дата рождения, профильная фотография, город, наименование посещаемого или оконченного
                высшего учебного заведения, год (планируемый год) окончания высшего учебного заведения, наименование
                факультета посещаемого или оконченного Пользователем высшего учебного заведения и записи Пользователя в
                микроблоге («Стена»), если Пользователь разместил эту информацию на Сайте в разделе «Моя страница»;
              </li>
              <li><b>6.2.3.</b> информация о подписках и подписчиках пользователя;</li>
              <li><b>6.2.4.</b> список друзей пользователя, за исключением ограниченного перечня друзей, который
                пользователь предпочел скрыть.
              </li>
            </ul>
          </li>
          <li><b>6.3.</b> Настройка пользователем уровня конфиденциальности информации о себе
            <ul class="listing">
              <li><b>6.3.1.</b> Пользователь вправе, с учетом ограничений, предусмотренных п. 6.2. настоящих Правил,
                установить в отношении своих персональных данных (п. 4.1. Правил), а также в отношении информации,
                предусмотренной п.п. 4.2.3. настоящих Правил, один из следующих уровней конфиденциальности:<br>
                а) информация доступна всем Пользователям Сайта;<br>
                б) информация доступна всем Пользователям Сайта, за исключением определенных Пользователей;<br>
                в) информация доступна лицам, имеющим на Сайте статус друзей Пользователя, а также лицам, имеющим статус
                их друзей;<br>
                г) информация доступна только лицам, имеющим на Сайте статус друзей пользователя;<br>
                д) информация доступна только некоторым лицам, имеющим на Сайте статус друзей Пользователя;<br>
                е) информация доступна некоторым спискам друзей (в случае, если пользователь создал хотя бы один список
                друзей с помощью инструментария «Создать список» в разделе «Мои Друзья»);<br>
                ж) информация доступна только Пользователю.
              </li>
              <li><b>6.3.2.</b> В отношении информации, закрепленной в п. 6.2. настоящих Правил, Пользователь вправе
                установить один из следующих уровней конфиденциальности:<br>
                а) информация доступна всем пользователям сети Интернет и индексируется поисковыми системами;<br>
                б) информация доступна только Пользователям Сайта;<br>
                в) информация доступна всем пользователям Интернета, но при этом она не индексируется поисковыми
                системами.
              </li>
              <li><b>6.3.3.</b> Администрация Сайта не несет ответственности за разглашение персональных данных
                Пользователя другими Пользователями Сайта, получившими доступ к таким данным в соответствии с выбранным
                Пользователем уровнем конфиденциальности.
              </li>
              <li><b>6.3.4.</b> При удалении персональных данных (иной пользовательской информации) с персональной
                страницы Пользователя или удалении персональной страницы Пользователя с Сайта, информация о
                Пользователе, скопированная другими Пользователями или хранящаяся на страницах других Пользователей,
                сохраняется.
              </li>
              <li><b>6.3.5.</b> Чтобы убедиться в правильности выбранного уровня конфиденциальности, Пользователь может
                с помощью инструментария Сайта посмотреть, как видят его персональную страницу другие Пользователи.
              </li>
            </ul>
          </li>
        </ul>
        <p><a name="7. Меры по защите информации о Пользователях"></a></p>
        <div class="wikiSubHeader"><strong>7. Меры по защите информации о Пользователях</strong></div>
        <ul class="listing">
          <li><b>7.1.</b> Администрация Сайта принимает технические и организационно-правовые меры в целях обеспечения
            защиты персональных данных Пользователя от неправомерного или случайного доступа к ним, уничтожения,
            изменения, блокирования, копирования, распространения, а также от иных неправомерных действий.
          </li>
          <li><b>7.2.</b> Для авторизации доступа к Сайту используется логин или адрес электронной почты и пароль
            Пользователя. Ответственность за сохранность данной информации несет Пользователь. Пользователь не вправе
            передавать собственный логин и пароль третьим лицам, а также обязан предпринимать меры по обеспечению их
            конфиденциальности.
          </li>
          <li><b>7.3.</b> В целях обеспечения более надежной защиты информации о Пользователях Администрация Сайта может
            использовать систему привязки страницы к мобильному телефону. Для осуществления данной системы Пользователь
            должен предоставить Администрации Сайта номер своего мобильного телефона.<br>
            В рамках системы привязки страницы к мобильному телефону Пользователь в случае утраты логина или пароля
            может восстановить доступ к странице с помощью кода восстановления, содержащегося в SMS-сообщении, которое
            Пользователь получает на свой мобильный телефон.<br>
            В целях снижения вероятности использования третьими лицами логинов и паролей Пользователей для отсылки спама
            от их имени, в случае если ввод логина и пароля Пользователя осуществляется с использованием непривычного
            для данного Пользователя сервера (в частности, сервера иностранного государства), Администрация Сайта может
            заблокировать вход на персональную страницу Пользователя при помощи специального сообщения с требованием
            указать дополнительные данные. После нескольких неудачных попыток ввода данных возможность доступа к
            персональной странице с использованием данного сервера может блокироваться на произвольное время.
          </li>
        </ul>
        <p><a name="8. Ограничение действия Правил"></a></p>
        <div class="wikiSubHeader"><strong>8. Ограничение действия Правил</strong></div>
        <p>Действие настоящих Правил не распространяется на действия и интернет-ресурсы третьих лиц.</p>
        <p>Администрация Сайта не несет ответственности за действия третьих лиц, получивших в результате использования
          Интернета или Услуг Сайта доступ к информации о Пользователе в соответствии с выбранным Пользователем уровнем
          конфиденциальности, за последствия использования информации, которая, в силу природы Сайта, доступна любому
          пользователю сети Интернет. Администрация Сайта рекомендует Пользователям ответственно подходить к решению
          вопроса об объеме информации о себе, размещаемой на Сайте.</p>
        <p><a name="9. Обращения пользователей"></a></p>
        <div class="wikiSubHeader"><strong>9. Обращения пользователей</strong></div>
        <ul class="listing">
          <li><b>9.1.</b> Пользователи вправе направлять Администрации Сайта свои запросы, в том числе запросы
            относительно использования их персональных данных, предусмотренные п. 6.1.6 настоящих Правил, в письменной
            форме по адресу: Российская Федерация, 192007, Санкт-Петербург, ул. Тамбовская 75а оф. 2-н или в форме
            электронного документа, подписанного квалифицированной электронной подписью в соответствии с
            законодательством Российской Федерации, по адресу электронной почты: support@tehnokom.su.
          </li>
          <li><b>9.2.</b> Запрос, направляемый пользователем, должен содержать следующую информацию:
            <ul class="listing">
              <li>номер основного документа, удостоверяющего личность пользователя или его представителя;</li>
              <li>сведения о дате выдачи указанного документа и выдавшем его органе;</li>
              <li>сведения, подтверждающие участие пользователя в отношениях с оператором (в частности, ссылку на свой
                индивидуальный профиль);
              </li>
              <li>подпись пользователя или его представителя.</li>
            </ul>
          </li>
          <li><b>9.3.</b> Администрация Сайта обязуется рассмотреть и направить ответ на поступивший запрос пользователя
            в течение 30 дней с момента поступления обращения.
          </li>
          <li><b>9.4.</b> Вся корреспонденция, полученная Администрацией Сайта от пользователей (обращения в письменной
            или электронной форме), относится к информации ограниченного доступа и не разглашается без письменного
            согласия Пользователя. Персональные данные и иная информация о Пользователе, направившем запрос, не могут
            быть без специального согласия Пользователя использованы иначе, как для ответа по теме полученного запроса
            или в случаях, прямо предусмотренных законодательством.
          </li>
        </ul>
        <p>Редакция от 15 июля 2017 года.</p></div>
    </div>

  </el-card>
</template>

<script>
  export default {
    name: "privateco",

    head: {
      title: 'Правила защиты информации о пользователях сайта TEHNOKOM.SU',
      meta: [
        {hid: 'description', name: 'description', content: 'Правила защиты информации о пользователях сайта TEHNOKOM.SU'}
      ]
    }
  }
</script>

<style scoped>
  .enhavo_teksto_titolo {
    padding-bottom: 10px;
    font-weight: bold;
  }

  ul {
    margin-top: 1em;
  }

  li {
    margin-left: 30px;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
</style>
