<template>
  <el-card>

    <div class="enhavo_teksto_titolo">
      <div>Правила пользования Сайтом Техноком</div>
    </div>
    <div>
      <div><p>Добро пожаловать на <strong>Сайт Техноком</strong> (<b><a class="wikiTkLink" href="https://tehnokom.su/">tehnokom.su</a></b>),
        интернет-ресурс, который является частью Всемирной автоматизированной системы Техноком, помогающий при помощи
        функционала умной социальной сети людям всего мира объединять ресурсы и задачи, для того чтобы сохранять жизни
        людей, поэтапно создавать более справедливое общественное и экономическое устройство и в конечном итоге создать
        всемирное технокоммунистическое общество.</p>
        <p>Вы также можете ознакомиться с <nuxt-link class="wikiTkLink" to="/privateco" target="_blank"
                                             rel="noopener">Правилами защиты информации о пользователях на Сайте
          tehnokom.su</nuxt-link>.</p>
        <p>Администрация Сайта предоставляет Вам доступ к использованию Сайта Техноком и его функционала на условиях,
          являющихся предметом настоящих Правил пользования Сайтом Техноком. В этой связи Вам необходимо внимательно
          ознакомиться с условиями настоящих Правил, которые рассматриваются Администрацией Сайта как публичная оферта в
          соответствии со ст. 437 Гражданского кодекса Российской Федерации.</p>
        <p><a name="1. Термины, используемые в настоящих Правилах"></a></p>
        <div class="wikiSubHeader"><strong>1. Термины, используемые в настоящих Правилах</strong></div>
        <ul class="listing">
          <li><b>1.1. Сайт Техноком (или Сайт)</b> – умная социальная сеть, известная под именем «Техноком», размещенная
            на сайте в сети Интернет по адресу: <b><a class="wikiTkLink" href="https://tehnokom.su/">tehnokom.su</a></b>
            (включая все уровни указанного домена, как функционирующие на дату принятия Пользователем настоящих Правил,
            так и запускаемые и вводимые в эксплуатацию в течение всего срока его действия) и доступная Пользователю
            через сайт, мобильную версию сайта, приложения и иные ресурсы, представляющая собой результат
            интеллектуальной деятельности в форме программы для ЭВМ. Социальная сеть представлена в объективной форме
            совокупностью данных и команд, и порождаемых аудиовизуальных отображений (включая входящие в ее состав
            графические изображения и пользовательский интерфейс), (далее – данные и команды), предназначенных для
            функционирования ЭВМ и мобильных устройств в целях получения определенного результата в виде организации
            функционала социальной сети. Совокупность данных и команд состоит из активированных и неактивированных
            данных и команд.
          </li>
          <li><b>1.2. Неактивированные данные и команды</b> – данные, команды и порождаемые аудиовизуальные отображения,
            позволяющие увеличить количество виртуальных ценностей, используемых в рамках функциональных возможностей
            Сайта. Условия предоставления Администрацией Пользователю права на использование неактивированных данных и
            команд определены в лицензионном соглашении, действующая редакция которого располагается в свободном доступе
            в сети Интернет по адресу: <nuxt-link to="/licenco" target="_blank" rel="noopener">https://tehnokom.su/licenco</nuxt-link>,
            заключаемом Администрацией Сайта с Пользователем.
          </li>
        </ul>
        <p><a name="2. Статус Правил пользования Сайтом Техноком"></a></p>
        <div class="wikiSubHeader"><strong>2. Статус Правил пользования Сайтом Техноком</strong></div>
        <ul class="listing">
          <li><b>2.1.</b> Настоящие Правила пользования Сайтом Техноком (ранее и далее – Правила) разработаны
            Администрацией Сайта и определяют условия использования и развития Сайта, а также права и обязанности его
            Пользователей и Администрации. Правила распространяются также на отношения, связанные с правами и интересами
            третьих лиц, не являющимися Пользователями Сайта, но чьи права и интересы могут быть затронуты в результате
            действий Пользователей Сайта.
          </li>
          <li><b>2.2.</b> Настоящие Правила являются юридически обязательным соглашением между Пользователем и
            Администрацией Сайта, предметом которого является предоставление Администрацией Сайта Пользователю доступа к
            использованию Сайта и его функционала. Помимо настоящих Правил, к соглашению между Пользователем и
            Администрацией Сайта относятся все специальные документы, регулирующие предоставление доступа к
            использованию отдельного функционала Сайта (в том числе его неактивированных данных и команд), размещенного
            в соответствующих разделах Сайта в сети Интернет.
          </li>
          <li><b>2.3.</b> Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на
            Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящих
            Правил в соответствии со ст. 438 Гражданского кодекса Российской Федерации.
          </li>
          <li><b>2.4.</b> Настоящие Правила могут быть изменены и/или дополнены Администрацией Сайта в одностороннем
            порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным
            документом. Действующая редакция Правил располагается в сети Интернет по адресу: <nuxt-link
              to="/reguloj" target="_blank" rel="noopener"><strong>https://tehnokom.su/reguloj</strong></nuxt-link>.
            Администрация Сайта рекомендует Пользователям регулярно проверять условия настоящих Правил на предмет их
            изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений и/или
            дополнений в настоящие Правила означает принятие и согласие Пользователя с такими изменениями и/или
            дополнениями.
          </li>
        </ul>
        <p><a name="3. Статус Сайта Техноком"></a></p>
        <div class="wikiSubHeader"><strong>3. Статус Сайта Техноком</strong></div>
        <ul class="listing">
          <li><b>3.1.</b> Права на Сайт в целом и на использование сетевого адреса (доменного имени) <a
            href="https://tehnokom.su"><strong>https://tehnokom.su</strong></a> принадлежат Администрации Сайта.
            Последняя предоставляет доступ к Сайту всем заинтересованным лицам в соответствии с настоящими Правилами и
            действующим законодательством Российской Федерации.
          </li>
        </ul>
        <ul class="listing">
          <li><b>3.2.</b> Настоящими Правилами установлены условия, в соответствии с которыми права на использование
            информации и результатов интеллектуальной деятельности (включая, но не ограничиваясь литературными,
            музыкальными, аудиовизуальными произведениями и фонограммами, произведениями графики и дизайна,
            фотографическими произведениями, программами для ЭВМ) в составе отдельных разделов Сайта, могут принадлежать
            Пользователям Сайта и иным лицам, самостоятельно создавшим и/или разместившим указанные объекты на Сайте без
            непосредственного участия Администрации Сайта.
          </li>
        </ul>
        <p><a name="4. Администрация Сайта Техноком"></a></p>
        <div class="wikiSubHeader"><strong>4. Администрация Сайта Техноком</strong></div>
        <ul class="listing">
          <li><b>4.1.</b> Под Администрацией Сайта Техноком (ранее и далее – Администрация Сайта или Администрация) в
            настоящих Правилах и иных специальных документах, размещенных на Сайте, понимается Общество с ограниченной
            ответственностью «СО-Профит», юридическое лицо, созданное по законодательству Российской Федерации и
            зарегистрированное по адресу: Российская Федерация, 192007, Санкт-Петербург, ул. Тамбовская 75а оф. 2-н.
          </li>
          <li><b>4.2.</b> Обращения, предложения и претензии физических и юридических лиц к Администрации Сайта в связи
            с настоящими Правилами и всеми вопросами по функционированию Сайта, нарушениями прав и интересов третьих лиц
            при его использовании, а также для запросов уполномоченных законодательством Российской Федерации лиц могут
            быть направлены на почтовый адрес ООО «СО-Профит», указанный в п. 4.1. настоящих Правил.
          </li>
          <li><b>4.3.</b> В отношении функционирования и развития Сайта Администрация руководствуется законодательством
            Российской Федерации, настоящими Правилами и иными специальными документами, которые разработаны или могут
            быть разработаны и приняты Администрацией Сайта в целях регламентации предоставления Пользователям доступа к
            отдельному функционалу Сайта.
          </li>
          <li><b>4.4.</b> Никакие положения настоящих Правил не предоставляют Пользователю право на использование
            фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации Сайта.
            Право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков
            Администрации Сайта может быть предоставлено исключительно по письменному соглашению с Администрацией Сайта.
          </li>
        </ul>
        <p><a name="5. Регистрация на Сайте Техноком и статус Пользователя"></a></p>
        <div class="wikiSubHeader"><strong>5. Регистрация на Сайте Техноком и статус Пользователя</strong></div>
        <ul class="listing">
          <li><b>5.1.</b> Регистрация Пользователя на Сайте является бесплатной, добровольной и производится по адресу в
            сети Интернет: <a href="https://tehnokom.su"><strong>https://tehnokom.su</strong></a>.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.2.</b> Пользователем Сайта является физическое лицо, зарегистрированное на Сайте в соответствии с
            установленным настоящими Правилами порядком, достигшее возраста, допустимого в соответствии с
            законодательством Российской Федерации для акцепта настоящих Правил, и обладающее соответствующими
            полномочиями (ранее и далее – Пользователь).
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.3.</b> При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта необходимую
            достоверную и актуальную информацию для формирования персональной страницы Пользователя, включая уникальные
            для каждого Пользователя логин и пароль доступа к Сайту, а также фамилию и имя. Регистрационная форма Сайта
            может запрашивать у Пользователя дополнительную информацию.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.4.</b> Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие
            законодательству Российской Федерации предоставленной при регистрации информации и ее чистоту от претензий
            третьих лиц.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.5.</b> После предоставления информации, указанной в п. 5.3. настоящих Правил, Пользователю необходимо
            пройти ряд удостоверительных процедур, а именно, (а) подтвердить регистрацию путем распознания
            автоматизированного теста, предназначенного для различия компьютеров и людей («капчи»); (б) подтвердить
            регистрацию путем введения в соответствующую форму на Сайте кода, полученного Пользователем в виде
            sms-сообщения от Администрации Сайта на мобильный телефон Пользователя, номер которого предоставляется самим
            Пользователем. В случае верного последовательного выполнения всех регистрационных действий на Сайте
            создается персональная страница Пользователя, имеющая сетевой адрес вида https://tehnokom.su/[индивидуальная
            ссылка аккаунта]. Пользователь вправе присвоить персональной странице короткое (поддоменное) имя, заменяющее
            порядковый номер id при адресации в сети Интернет. В качестве поддоменного имени не могут быть выбраны слова
            и наименования, использование которых запрещено в соответствии с настоящими Правилами, действующим
            законодательством Российской Федерации и международными правовыми актами, в том числе, но не ограничиваясь,
            нецензурная лексика, наименования, зарегистрированные как товарные знаки (вне зависимости от класса МКТУ),
            фирменные наименования и коммерческие обозначения, если пользователю не принадлежат исключительные права на
            них. В случае обнаружения нарушения данных условий Администрация вправе запретить Пользователю использование
            присвоенного им поддоменного имени, в том числе, если применимо, передать право его использования
            надлежащему лицу (представителю правообладателя). Пользователь вправе зарегистрировать не более одной
            персональной страницы на Сайте.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.6.</b> При регистрации Пользователь соглашается с настоящими Правилами и принимает на себя указанные
            в них права и обязанности, связанные с использованием и функционированием Сайта. Пользователь соглашается на
            получение посредством сервисов Администрации Сайта и/или сервисов третьих лиц электронных сообщений, sms и
            иных видов рассылок информационного, в т.ч. рекламно-информационного, содержания, в том числе от партнеров
            Администрации Сайта, которым Пользователь выразил согласие на отправку ему сообщений. Пользователь
            приобретает полный доступ к использованию функционала Сайта (его данных и команд), за исключением
            неактивированных данных и команд, при условии заполнения персональной страницы более чем на тридцать
            процентов. Право использования неактивированных данных и команд предоставляется Пользователю при выполнении
            дополнительно к указанному выше условий лицензионного соглашения (см. п. 1.2. настоящих Правил).
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.7.</b> После успешной регистрации Пользователя на Сайте Администрация принимает на себя права и
            обязанности перед Пользователем, указанные в настоящих Правилах.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.8.</b> Обработка персональных данных Пользователя осуществляется в соответствии с законодательством
            Российской Федерации. Администрация Сайта обрабатывает персональные данные Пользователя в целях
            предоставления Пользователю доступа к использованию функционала Сайта, в том числе в целях получения
            Пользователем персонализированной (таргетированной) рекламы; проверки, исследования и анализа таких данных,
            позволяющих поддерживать и улучшать функционал и разделы Сайта, а также разрабатывать новый функционал и
            разделы Сайта. Администрация Сайта принимает все необходимые меры для защиты персональных данных
            Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация предоставляет
            доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Администрации,
            которым эта информация необходима для обеспечения функционирования Сайта и предоставления Пользователю
            доступа к его использованию. Администрация Сайта вправе использовать предоставленную Пользователем
            информацию, в том числе персональные данные, а также передавать ее третьим лицам, в целях обеспечения
            соблюдения требований действующего законодательства Российской Федерации, защиты прав и интересов
            Пользователей, Администрации Сайта, третьих лиц (в том числе в целях выявления, проверки/расследования и/или
            пресечения противоправных действий). Раскрытие предоставленной Пользователем информации может быть
            произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда,
            правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях.
            Поскольку Администрация Сайта осуществляет обработку персональных данных Пользователя в целях исполнения
            настоящих Правил, в силу положений законодательства о персональных данных согласие Пользователя на обработку
            его персональных данных не требуется.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.9.</b> Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для
            доступа Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам,
            несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения. Пользователь на
            используемом им аппаратно-программном обеспечении может разрешить хранение логина и пароля (с использованием
            файлов cookies) для последующей автоматической авторизации на Сайте.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.10.</b> Если Пользователем не доказано обратное, любые действия, совершенные с использованием его
            логина и пароля, считаются совершенными соответствующим Пользователем. В случае несанкционированного доступа
            к логину и паролю и/или персональной странице Пользователя, или распространения логина и пароля Пользователь
            обязан незамедлительно сообщить об этом Администрации Сайта в установленном порядке.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.11.</b> После регистрации Пользователь получает право самостоятельно в личных некоммерческих целях
            создавать, использовать и определять содержание собственной персональной страницы и условия доступа других
            Пользователей к ее содержанию, а также получает возможности доступа и размещения информации на персональных
            страницах других Пользователей (при условии получения соответствующих прав доступа от их обладателей),
            использования социальных виджетов Техноком на сторонних сайтах без дополнительной авторизации. При
            использовании социальных виджетов Пользователем сторонним сайтам не предоставляются данные о логине и пароле
            Пользователя, а также его данные, защищенные настройками приватности.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.12.</b> Пользователь как обладатель информации, размещенной на собственной персональной странице,
            осознает, что за исключением случаев, установленных настоящими Правилами и действующим законодательством
            Российской Федерации, Администрация Сайта не принимает участие в формировании и использовании содержания и
            контроле доступа других пользователей к персональной странице Пользователя. Размещая информацию на
            персональной странице, в том числе свои персональные данные, Пользователь осознает и соглашается с тем, что
            указанная информация может быть доступна другим пользователям сети Интернет с учетом особенностей
            архитектуры и функционала Сайта.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.13.</b> Создание и использование Сообществ
            <ul class="listing">
              <li><b>5.13.1.</b> Пользователь вправе создавать группы, публичные страницы и встречи (далее — Сообщества)
                для целей информирования других Пользователей о каких-либо событиях, мероприятиях, организациях, как
                коммерческих, так и некоммерческих (например, благотворительных), их создании и деятельности, иных
                интересующих Пользователей материалах (далее – Объекты обсуждения), и/или/либо возможного обсуждения их
                с другими Пользователями (в том числе путем создания фан-клубов, обмена мнениями, отзывами и так далее).
                В процессе информирования и обсуждения в Сообществах Объектов обсуждений Пользователи обязаны соблюдать
                действующее российское и международное законодательство, а также размещать только такую информацию,
                которая соответствует настоящим Правилам, а также признанным этическим нормам и принципам морали, в том
                числе относящимся к таковым по мнению Администрации Сайта.
              </li>
              <li><b>5.13.2</b>. При создании и администрировании Сообщества, в том числе при регистрации поддоменного
                имени, используемого для адресации на страницу Сообщества, Пользователь подтверждает, что действует на
                законных основаниях (например, по доверенности), обладает всеми необходимыми правами и не нарушает
                своими действиями законные права и интересы третьих лиц и действующее законодательство Российской
                Федерации, в том числе законодательство о конкуренции и правах на результаты интеллектуальной
                деятельности и средства индивидуализации.
              </li>
              <li><b>5.13.3</b>. В Сообществе, в том числе в описании, на главной фотографии Сообщества, в альбомах, в
                новостях, обсуждениях, опросах, аудиозаписях, видеозаписях, на стене, не допускается размещение Контента
                (в значении, предусмотренном п. 7.1.1. настоящих Правил) целиком или по частям без предварительного
                разрешения правообладателя, а также информации, предусмотренной п. 6.3.4. настоящих Правил.
                Пользователь, администрирующий Сообщество, обязан самостоятельно следить и пресекать не соответствующее
                Правилам размещение информации в Сообществе, и при необходимости блокировать пользователям, нарушающим
                настоящие Правила, доступ к Сообществу, используя функциональные возможности Сайта.
              </li>
              <li><b>5.13.4</b>. В Сообществе, в том числе в описании, на главной фотографии Сообщества, в альбомах, в
                материалах, обсуждениях, опросах, закрепленных записях на стене, на обложке, в сообщениях, в историях
                Сообщества и т.д., за исключением прямо установленных настоящим пунктом случаев, не допускается
                размещение сторонней коммерческой и политической рекламы. На стене Сообщества (за исключением
                закрепленных записей, в которых реклама не допускается) вне Рекламной сети Техноком может быть размещено
                не более 5 (Пяти) сторонних рекламных объявлений в сутки, из них вне биржи рекламы Техноком может быть
                размещено не более 3 (Трех) сторонних рекламных объявлений. Сторонней рекламой признается любая
                информация, не имеющая прямого отношения к Сообществу, распространяемая в любой форме как от лица
                Сообщества, так и от лица других сообществ и Пользователей, и направленная на привлечение внимания
                Пользователей к объекту рекламирования, формирование или поддержание интереса к нему. Пользователю,
                администрирующему Сообщество, необходимо самостоятельно следить и пресекать не соответствующее Правилам
                размещение сторонней рекламы в Сообществе. Сообщество может быть размещено в системе поиска Сайта
                Техноком при обязательном соблюдении требований, предусмотренных в настоящем пункте. Подключение к
                Рекламной сети Техноком осуществляется через специальный интерфейс управления Сообществом с обязательным
                указанием количества сторонних объявлений, от реализации права на размещение которых на стене Сообщества
                предоставляется отказ. При размещении сторонней рекламы в Сообществе, подключенном к Рекламной сети
                Техноком, обязательно указание на рекламный характер информации в рамках имеющейся специальной
                функциональности Сайта (опция «это реклама»). Правила показа рекламы в рамках Рекламной сети Техноком
                регулируются специальными документами.
              </li>
              <li><b>5.13.5</b>. Все сторонние рекламные объявления должны соответствовать пп. 1 и 3 Правил размещения
                рекламных объявлений на Сайте.
              </li>
              <li><b>5.13.6</b>. Администрация Сайта вправе самостоятельно по своему усмотрению формировать и размещать
                список рекомендуемых Сообществ, исходя из их информационной ценности для пользователей и иных критериев.
                Для Сообществ, находящихся в списке рекомендуемых, действуют дополнительные ограничения – не более 3
                (Трёх) сторонних рекламных объявлений в неделю. В случае несоблюдения этого ограничения, Администрация
                Сайта вправе исключить Сообщество из списка рекомендуемых.
              </li>
              <li><b>5.13.7</b>. Пользователь несет полную ответственность за свои действия, связанные с созданием и
                администрированием Сообществ, в соответствии с действующим законодательством Российской Федерации,
                международными правовыми актами и настоящими Правилами.
              </li>
              <li><b>5.13.8</b>. В случае обнаружения факта нарушения в Сообществе законных прав и интересов третьих
                лиц, действующего законодательства Российской Федерации, а также положений настоящих Правил
                Администрация Сайта вправе, по своему выбору, принимать следующие меры: (а) удалять Контент и иную
                информацию со страницы Сообщества и/или блокировать доступ к ним; (б) блокировать доступ конкретных
                пользователей к странице Сообщества; (в) блокировать доступ Пользователя, осуществляющего
                администрирование Сообщества, к Сообществу; (г) передать права администрирования Сообщества, а также
                право использования зарегистрированного поддоменного имени, законному правообладателю, в установленном
                порядке подтвердившему свои права на Контент Сообщества, в том числе право на объекты авторского права,
                смежных прав, а также право на средство индивидуализации, сходное до степени смешения с используемым в
                Сообществе поддоменным именем; (д) исключить Сообщество из системы поиска и/или заблокировать
                Сообщество; (е) временно запретить публикацию любых ссылок в Сообществе.
              </li>
              <li><b>5.13.9</b>. В случае нарушения Сообществом порядка размещения сторонней рекламы (предусмотренного в
                пп. 5.13.4, 5.13.5 настоящих Правил), Администрация Сайта вправе ограничить рекламную деятельность
                Сообщества путем запрета публикации в Сообществе любых ссылок на любой срок на усмотрение Администрации
                и/или отключения Сообщества от биржи рекламы Техноком и/или отключения Сообщества от Рекламной сети
                Техноком. В случае попыток обойти техническое ограничение на публикацию ссылок (вставка дополнительных
                символов, публикация изображений со ссылками и т.д.) в период действия запрета, Администрация вправе
                заблокировать Сообщество без возможности восстановления.
              </li>
              <li><b>5.13.10</b>. Администраторы и модераторы сообществ несут полную ответственность за модерацию и
                блокировку Контента, размещенного на страницах подконтрольных им сообществ. В случае появления на
                страницах подконтрольных им сообществ Контента, который противоречит Правилам Сайта или действующему
                законодательству Российской Федерации, администраторы и модераторы сообществ обязаны принять меры по
                удалению соответствующих материалов со страниц подконтрольных им сообществ.
              </li>
            </ul>
          </li>
          <li><b>5.14</b>. В отношении информации о себе Пользователь имеет право: (а) самостоятельно удалять ранее
            размещенную Пользователем информацию на Сайте; (б) самостоятельно удалять персональную страницу Пользователя
            с использованием функциональной возможности «удалить свою страницу», доступной Пользователю в разделе «Мои
            настройки».
          </li>
        </ul>
        <p><a name="6. Обязанности Пользователя Техноком"></a></p>
        <div class="wikiSubHeader"><strong>6. Обязанности Пользователя Техноком</strong></div>
        <ul class="listing">
          <li><b>6.1.</b> При использовании Сайта Пользователь обязан:
            <ul class="listing">
              <li>соблюдать положения действующего законодательства Российской Федерации, настоящих Правил и иных
                специальных документов Администрации Сайта;
              </li>
              <li>предоставлять при регистрации достоверные, полные и актуальные данные, следить за их актуализацией;
              </li>
              <li>информировать Администрацию Сайта о несанкционированном доступе к персональной странице и/или о
                несанкционированном доступе и/или использовании пароля и логина Пользователя;
              </li>
              <li>не предоставлять доступ другим Пользователям к собственной персональной странице или к отдельной
                содержащейся на ней информации в случае, если это может привести к нарушению законодательства Российской
                Федерации и/или настоящих Правил, специальных документов Администрации Сайта;
              </li>
              <li>не размещать на персональной странице информацию и объекты (включая ссылки на них), которые могут
                нарушать права и интересы других лиц;
              </li>
              <li>перед размещением информации и объектов (включая, но не ограничиваясь, изображениями других лиц,
                чужими текстами различного содержания, аудиозаписями и видеофильмами) предварительно оценивать
                законность их размещения;
              </li>
              <li>хранить в тайне и не предоставлять другим Пользователям и третьим лицам ставшие ему известными в
                результате общения с другими Пользователями и иного использования Сайта персональные данные (включая, но
                не ограничиваясь, домашними адресами, номерами телефонов, адресами электронной почты, ICQ, паспортными
                данными, банковской информацией) и информацию о частной жизни других Пользователей и третьих лиц без
                получения соответствующего предварительного разрешения последних;
              </li>
              <li>осуществлять резервное копирование важной для Пользователя хранящейся на его персональной странице
                информации.
              </li>
            </ul>
          </li>
        </ul>
        <ul class="listing">
          <li><b>6.2.</b> В случае наличия сомнений в отношении законности осуществления тех или иных действий, в том
            числе по размещению информации или предоставлению доступа, Администрация Сайта рекомендует воздержаться от
            осуществления последних.
          </li>
        </ul>
        <ul class="listing">
          <li><b>6.3.</b> Пользователю при использовании Сайта запрещается:
            <ul class="listing">
              <li><b>6.3.1.</b> регистрироваться в качестве Пользователя от имени или вместо другого лица («фальшивый
                аккаунт») или регистрировать группу (объединение) лиц или юридическое лицо в качестве Пользователя. При
                этом, возможна регистрация от имени и поручению другого физического лица или юридического лица при
                условии получения необходимых полномочий в порядке и форме, предусмотренных законодательством Российской
                Федерации;
              </li>
              <li><b>6.3.2.</b> вводить Пользователей в заблуждение относительно своей личности, используя логин и
                пароль другого зарегистрированного Пользователя;
              </li>
              <li><b>6.3.3.</b> искажать сведения о себе, своем возрасте или своих отношениях с другими лицами или
                организациями;
              </li>
              <li><b>6.3.4.</b> загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом
                использовать любую информацию, которая:
                <ul class="listing">
                  <li><b>(а)</b> содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую
                    репутацию или нарушает неприкосновенность частной жизни других Пользователей или третьих лиц;
                  </li>
                  <li><b>(б)</b> нарушает права несовершеннолетних лиц;</li>
                  <li><b>(в)</b> является вульгарной или непристойной, содержит порнографические изображения и тексты
                    или сцены сексуального характера с участием несовершеннолетних;
                  </li>
                  <li><b>(г)</b> содержит сцены бесчеловечного обращения с животными;</li>
                  <li><b>(д)</b> содержит описание средств и способов суицида, любое подстрекательство к его совершению;
                  </li>
                  <li><b>(е)</b> пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти
                    или вражды, пропагандирует фашизм или идеологию расового превосходства;
                  </li>
                  <li><b>(ж)</b> содержит экстремистские материалы;</li>
                  <li><b>(з)</b> пропагандирует преступную деятельность или содержит советы, инструкции или руководства
                    по совершению преступных действий;
                  </li>
                  <li><b>(и)</b> содержит информацию ограниченного доступа, включая, но не ограничиваясь,
                    государственной и коммерческой тайной, информацией о частной жизни третьих лиц;
                  </li>
                  <li><b>(к)</b> содержит рекламу или описывает привлекательность употребления наркотических веществ, в
                    том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за счет
                    бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по
                    употреблению;
                  </li>
                  <li><b>(л)</b> носит мошеннический характер;</li>
                  <li><b>(м)</b> а также нарушает иные права и интересы граждан и юридических лиц или требования
                    законодательства Российской Федерации.
                  </li>
                </ul>
              </li>
              <li><b>6.3.5.</b> незаконно загружать, хранить, публиковать, распространять и предоставлять доступ или
                иным образом использовать интеллектуальную собственность Пользователей и третьих лиц;
              </li>
              <li><b>6.3.6.</b> осуществлять массовые рассылки сообщений в адрес других Пользователей Сайта без их
                согласия;
              </li>
              <li><b>6.3.7.</b> использовать программное обеспечение и осуществлять действия, направленные на нарушение
                нормального функционирования Сайта или персональных страниц Пользователей;
              </li>
              <li><b>6.3.8.</b> загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом
                использовать вирусы, трояны и другие вредоносные программы;
              </li>
              <li><b>6.3.9.</b> использовать без специального на то разрешения Администрации Сайта автоматизированные
                скрипты (программы, боты, краулеры) для сбора информации на Сайте и/или взаимодействия с Сайтом и его
                функционалом;
              </li>
              <li><b>6.3.10.</b> любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления
                доверием, взлома, пытаться получить доступ к логину и паролю другого Пользователя;
              </li>
              <li><b>6.3.11.</b> осуществлять незаконные сбор и обработку персональных данных других лиц;</li>
              <li><b>6.3.12.</b> осуществлять использование Сайта иным способом, кроме как через интерфейс,
                предоставленный Администрацией Сайта, за исключением случаев, когда такие действия были прямо разрешены
                Пользователю в соответствии с отдельным соглашением с Администрацией;
              </li>
              <li><b>6.3.13.</b> воспроизводить, дублировать, копировать, продавать, осуществлять торговые операции и
                перепродавать доступ к использованию Сайта, в том числе его неактивированных данных и команд, для
                каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Пользователю в
                соответствии с условиями отдельного соглашения с Администрацией;
              </li>
              <li><b>6.3.14.</b> размещать коммерческую и политическую рекламу вне специальных разделов Сайта,
                установленных Администрацией Сайта;
              </li>
              <li><b>6.3.15.</b> размещать любую другую информацию, которая, по личному мнению Администрации, является
                нежелательной, не соответствует целям создания Сайта, ущемляет интересы Пользователей или по другим
                причинам является нежелательной для размещения на Сайте;
              </li>
              <li><b>6.3.16.</b> осуществлять самостоятельно либо от имени других Пользователей с использованием
                функционала их аккаунта, в том числе путем введения в заблуждение или с обещанием поощрения, в том числе
                с использованием любых программ, автоматизированных скриптов, массовые однотипные действия, направленные
                на искусственное повышение показателей счётчиков Сайта (числа друзей, отметок «Нравится», событий
                «Рассказать друзьям» и т.д.).
              </li>
            </ul>
          </li>
        </ul>
        <ul class="listing">
          <li><b>6.4.</b> Пользователь несет личную ответственность за любую информацию, которую размещает на Сайте,
            сообщает другим Пользователям, а также за любые взаимодействия с другими Пользователями, осуществляемые на
            свой риск.
          </li>
        </ul>
        <ul class="listing">
          <li><b>6.5.</b> В случае несогласия Пользователя с настоящими Правилами или их обновлениями, Пользователь
            обязан отказаться от использования Сайта, проинформировав об этом Администрацию Сайта в установленном
            порядке.
          </li>
          <li><b>6.6.</b> Приобретение Пользователем права использования неактивированных данных и команд Сайта
            осуществляется на основании лицензионного соглашения, текст которого расположен в свободном доступе в сети
            Интернет по адресу: <nuxt-link to="/licenco" target="_blank"
                                   rel="noopener">https://tehnokom.su/licenco</nuxt-link>, заключаемого Администрацией Сайта с
            Пользователем.
          </li>
          <li><b>6.7.</b> Создаваемые Пользователями приложения API должны использовать только опубликованные на Сайте
            методы API, а также ID, защищенный ключ и сервисный ключ доступа, указанные в настройках данных приложений.
            Использование других методов API, а также ID, защищенного ключа и сервисного ключа доступа приложений API
            третьих лиц, в т.ч. приложения API Администрации Сайта, строго запрещено. Пользователь обязуется регулярно
            проверять перечень разрешённых методов и незамедлительно вносить корректировки в функциональность своих
            приложений API в соответствии с изменениями перечня. За нарушение настоящего пункта Пользователь несет
            предусмотренную применимым законодательством, настоящими Правилами и иными документами Администрации Сайта
            ответственность. Администрация Сайта при этом оставляет за собой право на защиту собственных прав и законных
            интересов.
          </li>
        </ul>
        <p><a name="7. Условия об интеллектуальных правах"></a></p>
        <div class="wikiSubHeader"><strong>7. Условия об интеллектуальных правах</strong></div>
        <ul class="listing">
          <li><b>7.1.</b> Исключительные права на Контент, размещенный на Сайте.
            <ul class="listing">
              <li><b>7.1.1.</b> Все объекты, размещенные на Сайте, в том числе элементы дизайна, текст, графические
                изображения, иллюстрации, видео, скрипты, программы, музыка, звуки и другие объекты и их подборки (далее
                — Контент), являются объектами исключительных прав Администрации, Пользователей Сайта и других
                правообладателей, все права на эти объекты защищены.
              </li>
              <li><b>7.1.2.</b> Кроме случаев, установленных настоящими Правилами, а также действующим законодательством
                Российской Федерации, никакой Контент не может быть скопирован (воспроизведен), переработан,
                распространен, отображен во фрейме, опубликован, скачан, передан, продан или иным способом использован
                целиком или по частям без предварительного разрешения правообладателя, кроме случаев, когда
                правообладатель явным образом выразил свое согласие на свободное использование Контента любым лицом.
                Воспроизведение, копирование, сбор, систематизация, хранение, передача Контента с целью создания базы
                данных в коммерческих и/или некоммерческих целях и/или использование Контента полностью или в любой его
                части, независимо от способа использования, без согласия Администрации не допускается.
              </li>
              <li><b>7.1.3.</b> Пользователь, размещая на Сайте принадлежащий ему на законных основаниях Контент,
                предоставляет другим пользователям неисключительное право на его использование исключительно в рамках
                предоставляемого Сайтом функционала, путем просмотра, воспроизведения (в том числе копирования) и иные
                права исключительно с целью личного некоммерческого использования, кроме случаев, когда такое
                использование причиняет или может причинить вред охраняемым законом интересам правообладателя.
              </li>
              <li><b>7.1.4.</b> Использование Пользователем Контента, доступ к которому получен исключительно для
                личного некоммерческого использования, допускается при условии сохранения всех знаков авторства
                (копирайтов) или других уведомлений об авторстве, сохранения имени автора в неизменном виде, сохранении
                произведения в неизменном виде.
              </li>
              <li><b>7.1.5.</b> Пользователь предоставляет также Администрации Сайта неисключительное право использовать
                на безвозмездной основе размещенный на Сайте и принадлежащий ему на законных основаниях Контент в целях
                обеспечения Администрацией Сайта функционирования Сайта в объеме, определяемом функционалом и
                архитектурой Сайта, и отображения Контента в промоматериалах Администрации Сайта, в том числе в рамках
                изображений интерфейса Сайта, в том числе путём доведения таких промоматериалов до всеобщего сведения.
                Указанное неисключительное право предоставляется на срок размещения Контента на Сайте и распространяет
                свое действие на территории стран всего мира. Окончание срока размещения Контента на Сайте и/или срока
                действия неисключительного права не влечет за собой необходимость изъятия из оборота промоматериалов
                Администрации Сайта с отображением Контента (в том числе их удаление из сети Интернет). Администрация
                Сайта вправе передавать права, указанные в настоящем пункте третьим лицам. Пользователь соглашается с
                тем, что Администрация вправе использовать функциональные и технические возможности Сайта,
                обеспечивающие отображение размещаемого Пользователем Контента, включая проигрыватель (плеер),
                предназначенные для целей отображения Контента, по своему усмотрению, в том числе для целей показа
                рекламной информации.
              </li>
              <li><b>7.1.6.</b> Если Пользователь удаляет свой Контент с Сайта, неисключительное право, упомянутое в п.
                7.1.5. настоящих Правил, будет автоматически отозвано, однако Администрация оставляет за собой право в
                случае необходимости, обусловленной техническими особенностями работы Сайта, сохранять архивные копии
                пользовательского Контента в течение необходимого срока.
              </li>
              <li><b>7.1.7.</b> Кроме своего собственного Контента, Пользователь не вправе загружать или иным образом
                доводить до всеобщего сведения (публиковать на Сайте) Контент других сайтов, баз данных и прочие
                результаты интеллектуальной деятельности при отсутствии явным образом выраженного согласия
                правообладателя на такие действия.
              </li>
              <li><b>7.1.8.</b> Любое использование Сайта или Контента, кроме разрешенного в настоящих Правилах или в
                случае явно выраженного согласия правообладателя на такое использование, без предварительного
                письменного разрешения правообладателя, категорически запрещено.
              </li>
              <li><b>7.1.9.</b> Если иное явным образом не установлено в настоящих Правилах, ничто в настоящих Правилах
                не может быть рассмотрено как передача исключительных прав на Контент.
              </li>
            </ul>
          </li>
        </ul>
        <ul class="listing">
          <li><b>7.2.</b> Ответственность за нарушение исключительных прав.
            <ul class="listing">
              <li><b>7.2.1.</b> Пользователь несет личную ответственность за любой Контент или иную информацию, которые
                он загружает или иным образом доводит до всеобщего сведения (публикует) на Сайте или с его помощью.
                Пользователь не имеет права загружать, передавать или публиковать Контент на Сайте, если он не обладает
                соответствующими правами на совершение таких действий, приобретенными или переданными ему в соответствии
                с законодательством Российской Федерации. При обнаружении нарушения прав для подачи жалоб используются
                <nuxt-link to="/cc-reguloj" target="_blank" rel="noopener">Правила рассмотрения заявлений,
                  связанных с размещением пользователями контента на сайте Техноком</nuxt-link>.
              </li>
              <li><b>7.2.2.</b> Администрация Сайта может, но не обязана, просматривать Сайт на наличие запрещенного
                Контента и может удалять или перемещать (без предупреждения) любой Контент или пользователей по своему
                личному усмотрению, по любой причине или без причины, включая без всяких ограничений перемещение или
                удаление Контента, который, по личному мнению Администрации, нарушает настоящие Правила,
                законодательство Российской Федерации и/или может нарушать права, причинить вред или угрожать
                безопасности других Пользователей или третьих лиц.
              </li>
            </ul>
          </li>
        </ul>
        <ul class="listing">
          <li><b>7.3.</b> Сайты и Контент третьих лиц.
            <ul class="listing">
              <li><b>7.3.1.</b> Сайт содержит (или может содержать) ссылки на другие сайты в сети Интернет (сайты
                третьих лиц) так же, как и статьи, фотографии, иллюстрации, графические изображения, музыку, звуки,
                видео, информацию, приложения, программы и другой Контент, принадлежащий или исходящий от третьих лиц
                (Контент третьих лиц), являющийся результатом интеллектуальной деятельности и охраняемых в соответствии
                с законодательством Российской Федерации.
              </li>
              <li><b>7.3.2.</b> Указанные третьи лица и их Контент не проверяются Администрацией на соответствие тем или
                иным требованиям (достоверности, полноты, добросовестности и т.п.). Администрация не несет
                ответственность за любую информацию, размещенную на сайтах третьих лиц, к которым Пользователь получает
                доступ через Сайт или через Контент третьих лиц, включая, в том числе, любые мнения или утверждения,
                выраженные на сайтах третьих лиц или в их Контенте.
              </li>
              <li><b>7.3.3.</b> Размещенные на Сайте ссылки или руководства по скачиванию файлов и/или установке
                программ третьих лиц не означают поддержки или одобрения этих действий со стороны Администрации.
              </li>
              <li><b>7.3.4.</b> Ссылка на любой сайт, продукт, услугу, любую информацию коммерческого или
                некоммерческого характера, размещенная на Сайте, не является одобрением или рекомендацией данных
                продуктов (услуг) со стороны Администрации.
              </li>
              <li><b>7.3.5.</b> Если Пользователь решил покинуть Сайт и перейти к сайтам третьих лиц или использовать,
                или установить программы третьих лиц, он делает это на свой риск и с этого момента настоящие Правила
                более не распространяются на Пользователя. При дальнейших действиях Пользователю стоит руководствоваться
                применимыми нормами и политикой, в том числе деловыми обычаями тех лиц, чей Контент он собирается
                использовать.
              </li>
            </ul>
          </li>
        </ul>
        <p><a name="8. Функционирование Сайта Техноком и ответственность при его использовании"></a></p>
        <div class="wikiSubHeader"><strong>8. Функционирование Сайта Техноком и ответственность при его
          использовании</strong></div>
        <ul class="listing">
          <li><b>8.1.</b> Пользователи несут ответственность за собственные действия в связи с созданием и размещением
            информации на собственной персональной странице на Сайте, а также в связи с размещением информации на
            персональных страницах других Пользователей и в иных разделах Сайта в соответствии с действующим
            законодательством Российской Федерации. Нарушение настоящих Правил и действующего законодательства
            Российской Федерации влечет за собой гражданско-правовую, административную и уголовную ответственность.
          </li>
        </ul>
        <ul class="listing">
          <li><b>8.2.</b> Администрация Сайта предоставляет техническую возможность его использования Пользователями, не
            участвует в формировании содержания персональных страниц Пользователей и не контролирует и не несет
            ответственности за действия или бездействие любых лиц в отношении использования Сайта или формирования и
            использования содержания персональных страниц Пользователей на Сайте.
          </li>
        </ul>
        <ul class="listing">
          <li><b>8.3.</b> В информационной системе Сайта и его программном обеспечении отсутствуют технические решения,
            осуществляющие автоматические цензуру и контроль действий и информационных отношений Пользователей по
            использованию Сайта, за исключением специальных технических решений, которые могут реализовываться
            Администрацией в целях предотвращения и пресечения нарушений прав третьих лиц на результаты интеллектуальной
            деятельности.
          </li>
        </ul>
        <ul class="listing">
          <li><b>8.4.</b> Администрация сохраняет за собой право в любое время изменять оформление Сайта, его
            содержание, функционал, изменять или дополнять используемые скрипты, программное обеспечение и другие
            объекты, используемые или хранящиеся на Сайте, любые серверные приложения в любое время с предварительным
            уведомлением или без такового.
          </li>
        </ul>
        <ul class="listing">
          <li><b>8.5.</b> Администрация Сайта не занимается предварительной модерацией или цензурой информации
            Пользователей и предпринимает действия по защите прав и интересов лиц и обеспечению соблюдения требований
            законодательства Российской Федерации только после обращения заинтересованного лица к Администрации Сайта в
            установленном порядке.
          </li>
        </ul>
        <ul class="listing">
          <li><b>8.6.</b> Администрация Сайта не несет ответственности за нарушение Пользователем настоящих Правил и
            оставляет за собой право по своему собственному усмотрению, а также при получении информации от других
            пользователей либо третьих лиц о нарушении Пользователем настоящих Правил, изменять (модерировать),
            блокировать или удалять любую публикуемую Пользователем информацию, нарушающую запреты, установленные
            настоящими Правилами, приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к любому
            из разделов или функционалу Сайта в любое время по любой причине или без объяснения причин, с
            предварительным уведомлением или без такового. Администрация Сайта закрепляет за собой право удалить
            персональную страницу Пользователя и/или приостановить, ограничить или прекратить доступ Пользователя к
            любой из функциональных возможностей Сайта, если Администрация обнаружит, что по ее мнению, Пользователь
            представляет угрозу для Сайта и/или его Пользователей. Наряду с указанным в настоящем пункте выше
            Администрация Сайта вправе блокировать и/или удалять Приложения API, ограничивать доступ Пользователей к
            Приложения API, сайтам, приложениям третьих лиц, иным сторонним ресурсам, блокировать и/или удалять ссылки
            на них, в случае если у Администрации Сайта появятся основания полагать, что такие Приложения API, сайты,
            приложения третьих лиц, иные сторонние ресурсы представляют или могут представлять угрозу для нормальной
            работы Сайта и его Пользователей. Администрация Сайта реализует описанные выше меры в соответствии с
            применимым законодательством и не несет ответственности за возможные негативные последствия таких мер для
            Пользователя или третьих лиц.
          </li>
        </ul>
        <ul class="listing">
          <li><b>8.7.</b> Удаление персональной страницы Пользователя означает автоматическое удаление всей информации,
            размещенной на ней, а также всей информации Пользователя, введенной при регистрации на Сайте. После удаления
            персональной страницы Пользователь теряет доступ к использованию Сайта.
          </li>
        </ul>
        <ul class="listing">
          <li><b>8.8.</b> Администрация Сайта обеспечивает функционирование и работоспособность Сайта и обязуется
            оперативно восстанавливать его работоспособность в случае технических сбоев и перерывов. Администрация Сайта
            не несет ответственности за временные сбои и перерывы в работе Сайта и вызванные ими потерю информации.
            Администрация не несет ответственности за любой ущерб компьютеру Пользователя или иного лица, мобильным
            устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный со
            скачиванием материалов с Сайта или по ссылкам, размещенным на Сайте.
          </li>
        </ul>
        <ul class="listing">
          <li><b>8.9.</b> Администрация Сайта имеет право распоряжаться статистической информацией, связанной с
            функционированием Сайта, а также информацией Пользователей для обеспечения адресного показа рекламной
            информации различным аудиториям Пользователей Сайта. Для целей организации функционирования и технической
            поддержки Сайта и исполнения настоящих Правил Администрация Сайта имеет техническую возможность доступа к
            персональным страницам Пользователей, которую реализует только в случаях, установленных настоящими
            Правилами.
          </li>
        </ul>
        <ul class="listing">
          <li><b>8.10.</b> Администрация Сайта имеет право направлять Пользователю информацию о развитии Сайта и его
            функционала, а также рекламировать собственную деятельность.
          </li>
        </ul>
        <ul class="listing">
          <li><b>8.11.</b> Ограничение ответственности Администрации Сайта:
            <ul class="listing">
              <li><b>8.11.1.</b> САЙТ И ЕГО ФУНКЦИОНАЛ, ВКЛЮЧАЯ ВСЕ СКРИПТЫ, ПРИЛОЖЕНИЯ, КОНТЕНТ И ОФОРМЛЕНИЕ САЙТА
                ПОСТАВЛЯЮТСЯ «КАК ЕСТЬ». АДМИНИСТРАЦИЯ ОТКАЗЫВАЕТСЯ ОТ ВСЯКИХ ГАРАНТИЙ ТОГО, ЧТО САЙТ ИЛИ ЕГО ФУНКЦИОНАЛ
                МОГУТ ПОДХОДИТЬ ИЛИ НЕ ПОДХОДИТЬ ДЛЯ КОНКРЕТНЫХ ЦЕЛЕЙ ИСПОЛЬЗОВАНИЯ. АДМИНИСТРАЦИЯ НЕ МОЖЕТ
                ГАРАНТИРОВАТЬ И НЕ ОБЕЩАЕТ НИКАКИХ СПЕЦИФИЧЕСКИХ РЕЗУЛЬТАТОВ ОТ ИСПОЛЬЗОВАНИЯ САЙТА И/ИЛИ ЕГО
                ФУНКЦИОНАЛА;
              </li>
              <li><b>8.11.2.</b> ВО ИЗБЕЖАНИЕ НЕДОРАЗУМЕНИЙ ПОЛЬЗОВАТЕЛЮ СЛЕДУЕТ СОБЛЮДАТЬ МЕРЫ ПРЕДОСТОРОЖНОСТИ В
                СКАЧИВАНИИ С САЙТА ИЛИ ПО РАЗМЕЩЕННЫМ НА НЕМ ССЫЛКАМ, И ИСПОЛЬЗОВАНИИ ЛЮБЫХ ФАЙЛОВ, В ТОМ ЧИСЛЕ
                ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ. АДМИНИСТРАЦИЯ САЙТА НАСТОЯТЕЛЬНО РЕКОМЕНДУЕТ ИСПОЛЬЗОВАТЬ ТОЛЬКО ЛИЦЕНЗИОННОЕ,
                В ТОМ ЧИСЛЕ АНТИВИРУСНОЕ, ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ;
              </li>
              <li><b>8.11.3.</b> ИСПОЛЬЗУЯ САЙТ, ПОЛЬЗОВАТЕЛЬ СОГЛАШАЕТСЯ С ТЕМ, ЧТО СКАЧИВАЕТ С САЙТА ИЛИ С ЕГО ПОМОЩЬЮ
                ЛЮБЫЕ МАТЕРИАЛЫ НА СВОЙ СОБСТВЕННЫЙ РИСК И НЕСЕТ ЛИЧНУЮ ОТВЕТСТВЕННОСТЬ ЗА ВОЗМОЖНЫЕ ПОСЛЕДСТВИЯ
                ИСПОЛЬЗОВАНИЯ УКАЗАННЫХ МАТЕРИАЛОВ, В ТОМ ЧИСЛЕ ЗА УЩЕРБ, КОТОРЫЙ ЭТО МОЖЕТ ПРИЧИНИТЬ КОМПЬЮТЕРУ
                ПОЛЬЗОВАТЕЛЯ ИЛИ ТРЕТЬИМ ЛИЦАМ, ЗА ПОТЕРЮ ДАННЫХ ИЛИ ЛЮБОЙ ДРУГОЙ ВРЕД;
              </li>
              <li><b>8.11.4.</b> НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ АДМИНИСТРАЦИЯ САЙТА ИЛИ ЕЕ ПРЕДСТАВИТЕЛИ НЕ НЕСУТ
                ОТВЕТСТВЕННОСТЬ ПЕРЕД ПОЛЬЗОВАТЕЛЕМ ИЛИ ПЕРЕД ЛЮБЫМИ ТРЕТЬИМИ ЛИЦАМИ ЗА ЛЮБОЙ КОСВЕННЫЙ, СЛУЧАЙНЫЙ,
                НЕУМЫШЛЕННЫЙ УЩЕРБ, ВКЛЮЧАЯ УПУЩЕННУЮ ВЫГОДУ ИЛИ ПОТЕРЯННЫЕ ДАННЫЕ, ВРЕД ЧЕСТИ, ДОСТОИНСТВУ ИЛИ ДЕЛОВОЙ
                РЕПУТАЦИИ, ВЫЗВАННЫЙ В СВЯЗИ С ИСПОЛЬЗОВАНИЕМ САЙТА, СОДЕРЖИМОГО САЙТА ИЛИ ИНЫХ МАТЕРИАЛОВ, К КОТОРЫМ ВЫ
                ИЛИ ИНЫЕ ЛИЦА ПОЛУЧИЛИ ДОСТУП С ПОМОЩЬЮ САЙТА, ДАЖЕ ЕСЛИ АДМИНИСТРАЦИЯ САЙТА ПРЕДУПРЕЖДАЛА ИЛИ УКАЗЫВАЛА
                НА ВОЗМОЖНОСТЬ ТАКОГО ВРЕДА.
              </li>
            </ul>
          </li>
        </ul>
        <p><a name="9. Заключительные положения"></a></p>
        <div class="wikiSubHeader"><strong>9. Заключительные положения</strong></div>
        <ul class="listing">
          <li><b>9.1.</b> Настоящие Правила составляют соглашение между Пользователем и Администрацией Сайта
            относительно порядка использования Сайта и его функционала и заменяют собой все предыдущие соглашения между
            Пользователем и Администрацией.
          </li>
          <li><b>9.2.</b> Настоящие Правила регулируются и толкуются в соответствии с законодательством Российской
            Федерации. Вопросы, не урегулированные Правилами, подлежат разрешению в соответствии с законодательством
            Российской Федерации.
          </li>
          <li><b>9.3.</b> В случае возникновения любых споров или разногласий, связанных с исполнением настоящих Правил,
            Пользователь и Администрация Сайта приложат все усилия для их разрешения путем проведения переговоров между
            ними. В случае, если споры не будут разрешены путем переговоров, споры подлежат разрешению в порядке,
            установленном действующим законодательством Российской Федерации.
          </li>
          <li><b>9.4.</b> Настоящие Правила вступают в силу для Пользователя с момента его присоединения к ним и
            действуют в течение неопределенного срока.
          </li>
          <li><b>9.5.</b> Настоящие Правила составлены на русском языке и могут быть предоставлены Пользователю для
            ознакомления на другом языке. В случае расхождения русскоязычной версии Правил и версии Правил на ином
            языке, применяются положения русскоязычной версии настоящих Правил.
          </li>
          <li><b>9.6.</b> Если по тем или иным причинам одно или несколько положений настоящих Правил будут признаны
            недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или
            применимость остальных положений.
          </li>
        </ul>
        <p>Редакция от 15 июля 2017 года.</p></div>
    </div>

  </el-card>
</template>

<script>
  export default {
    name: "reguloj",

    head: {
      title: 'Правила пользования Сайтом Техноком',
      meta: [
        {hid: 'description', name: 'description', content: 'Правила пользования Сайтом Техноком'}
      ]
    }
  }
</script>

<style scoped>
  .enhavo_teksto_titolo {
    padding-bottom: 10px;
    font-weight: bold;
  }

  ul {
    margin-top: 1em;
  }

  li {
    margin-left: 30px;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
</style>
