<template>
  <transition appear name="fade" mode="out-in">
    <div class="tag-wrap">
      <v-sheet
        class="d-flex comp-style overflow-y-auto"
        :style="styleComponent"
        :height="heightComponent"
        tile
      >
        <div class="inner-block">
          <slot></slot>
        </div>
      </v-sheet>
    </div>
  </transition>
</template>

<script>
import tinycolor from "tinycolor2";

export default {
  props: ["styleComponent", "heightComponent"],
  data() {
    return {};
  }
};
</script>

<style scoped>
.comp-style {
  background: rgba(255, 255, 255, 0.3);

  clip-path: polygon(
    15px 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%,
    0 15px
  );
  position: relative;
}

.comp-style:before {
  clip-path: polygon(
    15px 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%,
    0 15px
  );
  background: rgba(0, 0, 0, 0.7);
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  display: block;
  z-index: 1;
}

.inner-block {
  margin: 8px;
  padding: 0;
  width: 100%;
  z-index: 9;
}
.tag-wrap {
  /* filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)); */
}
</style>