<template>
	<v-container class="grey lighten-5">
		<v-row class="mb-6" no-gutters>
			<v-col>
			  <v-card class="mb-6" outlined tile> {{ item.nomo.enhavo }} </v-card>
			</v-col>
		</v-row>

		<v-row class="mb-6" no-gutters>
			<v-col>
				  <v-row class="mb-6" no-gutters>
					  <v-col>
						 <v-card class="mb-6" outlined tile>
							 <v-tabs
							     center-active
								 color="primary"
								 background-color="white"
								 show-arrows
								 v-model="current_tab"
								 >
								 <v-tabs-slider color="primary"></v-tabs-slider>

								 <v-tab href="#tab-1">
								  Категории
								   <v-icon>mdi-account-box</v-icon>
								 </v-tab>

							     <v-tab href="#tab-2">
								  Темы
								   <v-icon>mdi-comment-text</v-icon>
							     </v-tab>
							 </v-tabs>
						 </v-card>
				      </v-col>
				 </v-row>

					<v-row no-gutters v-if="current_tab === 'tab-1'">
						<v-col>
						 <v-card class="mb-6" outlined tile> <konferenco-kategorio-listo/> KonferencoKategorioListo </v-card>
						</v-col>
					</v-row>

					<v-row no-gutters v-if="current_tab === 'tab-2'">
						<v-col>
						 <v-card class="mb-6" outlined tile> <konferenco-temo-listo/> KonferencoTemoListo </v-card>
						</v-col>
					</v-row>

            </v-col>
					
					  <v-col lg="2">
						 <v-card class="mb-6" outlined tile>Правый столбец</v-card>
					  </v-col>

        </v-row>
    </v-container>
</template>

<script>
import KonferencoKategorioListo from '@/components/Komunumo/Konferenco/KonferencoKategorioListo';
import KonferencoTemoListo from '@/components/Komunumo/Konferenco/KonferencoTemoListo';
import { komunumo_query } from './queries';
import { konferenco_kategorioj_query } from './queries';
import { konferenco_temoj_query } from './queries';
import { graphQlUrlize } from '~/utils'



export default {
	components: {
		KonferencoKategorioListo,
		KonferencoTemoListo
	},
		
	head () {
      return {
        title: this.item.nomo.enhavo
      }
    },

    // Асинхронное получение данный с сервера (работает и на сервере)
	async asyncData ({ app, params, query, error, props }) {
		console.log("=======>", props);
		return await app.$axios.get(graphQlUrlize({
			query: komunumo_query,
			variables: { id: props.konferenco_id }
		}))
			.then(response => {
			const resp = response.data.data.komunumoj;

			if (resp.edges.length) {
				return Promise.resolve({
				item: Object.assign({}, resp.edges[0].node),
				loading: false,
				current_tab: null
				})
			} else {
				error({ status: 404, message: 'Сообщество не найдено' })
			}
		  })
			.catch(e => {
			console.error(e)
			return Promise.reject(e)
			})
	    },
      }

</script>
