* {
  /* text-transform: none; */
}

/* Prilagodjavanje standardnih vuetify stilova */

.v-application p {
  /* margin-bottom: 0px !important; */
}

.row {
  /* margin-right: 0 !important;
    margin-left: 0 !important; */
}

.container {
  /* padding: 0 !important;
    max-width: 100% !important; */
}

.v-toolbar__content {
  /* padding: 0 !important; */
}

.v-footer {
  /* padding: 0 !important; */
}

/* Ovde idu boje tekstova */
.grey_text {
  /* color: rgb(61, 61, 61); */
}

/* Moji stilovi */
.nav_btn {
  /* height: 100% !important;
    display: inline-block;
    cursor: pointer; */
}

.nav_btn:hover {
  /* background-color: rgba(0, 40, 77, 0.438); */
}

.bootom_nav {
  /* height: 50px;
    display: flex;
    min-width: 100%; */
}

/* Переопределенный стиль */



::-webkit-scrollbar-button {
  /* background-image: url(''); */
  background-repeat: no-repeat;
  width: 15px;
  height: 0px;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #6dc0c8;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #56999f;
  padding: 0;
  margin: 0;
}

::-webkit-resizer {
  /* background-image: url(''); */
  background-repeat: no-repeat;
  width: 15px;
  height: 0px;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 15px;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0 0;
  margin: 0 0;
  font-family: roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.v-toolbar__content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container {
  padding-left: 0 !important;
  /* max-width: 100% !important; */
}

.fakestyle {
  margin: 0;
  padding: 0;
}
