<template>
    <v-layout column fluid>
        <kmr-header :item="item"/>
    </v-layout>
</template>

<script>

  import { graphQlUrlize } from '~/utils'
  import { kmr_query } from './queries'
  import KmrHeader from '~/components/kmr/header'

  export default {
    head () {
      return {
        title: this.item.unuaNomo.enhavo
      }
    },

    components: {
      KmrHeader,
    },

    // Асинхронное получение данный с сервера (работает и на сервере)
    async asyncData ({ app, params, query, error }) {
      const id = parseInt(params.id.split('agru')[1])
      return await app.$axios.get(graphQlUrlize({
        query: kmr_query ,
        variables: { id: id }
      }))
        .then(response => {
          const resp = response.data.data.uzantoj

          if (resp.edges.length) {
            return Promise.resolve({
              item: Object.assign({}, resp.edges[0].node),
              loading: false,
            })
          } else {
            error({ status: 404, message: 'Не найдено' })
          }
        })
        .catch(e => {
          console.error(e)
          return Promise.reject(e)
        })
    },

    computed: {
      isLarge () {
        return this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl
      },
      isServer () {
        return process.server
      }
    },
  }
</script>

<style scoped>
    .general {
        width: 1145px !important;
        /*max-width: 1145px !important;*/
    }
</style>
