<template>
  <div>
    <component ref="pageComponent" :is="currentPage" v-bind="currentPageParams"></component>
  </div>
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex'
  import urls from '~/urls'

  // Реализация именованных групп в регулярных выражениях
  const named_regex = function (r, arg) {
    let pattern = /\(\?P<([_a-zA-Z]{1}[_a-zA-Z0-9]{1,})>(\([\[\]{}+\\a-zA-Z0-9|]+\)|[\[\]{}+\\a-zA-Z0-9|]+)\)/g;
    let named_var = /<([_a-zA-Z]{1}[_a-zA-Z0-9]{1,})>/;
    let named_pattern = />(\([\[\]{}+\\a-zA-Z0-9|]+\)|[\[\]{}+\\a-zA-Z0-9|]+)/;
    let new_pattern = r;
    let res = r.match(pattern);
    let pout = [];

    if (res.length) {
      for (let m in res) {
        let named_res = res[m].match(named_var)[1]; // [0: variable_name, 1: new_pattern]
        let named_new_pat = res[m].match(named_pattern)[1];

        if (named_res) {
          let cur_out = {};
          cur_out[named_res] = undefined;
          pout.push(cur_out);
          new_pattern = new_pattern.replace(res[m], '(' + named_new_pat + ')')
        }
      }

      let out = {};
      let out_res = arg.match(new_pattern);
      let i = 0;

      for (let cur in out_res) {
        if (parseInt(cur)) {
          // формируем данные для вывода
          out[Object.keys(pout[parseInt(cur) - 1])[0]] = out_res[cur]
        } else {
          // сохраняем стандартный RegExp шаблон и результат проверки
          // на совпадения текущего url с этим шаблоном
          out['_url_pattern'] = RegExp(new_pattern);
          out['_url_test'] = out['_url_pattern'].test(arg)
        }
      }
      return out
    } else {
      return {
        '_url_pattern': RegExp(new_pattern),
        '_url_test': RegExp(new_pattern).test(arg)
      }
    }
  };
  // Конец реализации именованных групп

  let page_data = null;

  export default {
    /*----- Реализация динамической подгрузки компонента -----*/
    async validate (context) {
      for (let url in urls) {
        let res = named_regex(urls[url].path, context.params.id);

        if (res._url_test) {
          let params = {};

          for (let r in res) {
            if (!/^_/.test(r)) {
              params[r] = res[r]
            }
          }

          context.store.commit('spa/setSPAComp', urls[url].com);
          context.store.commit('spa/setSPAParams', params);

          //const comp = await import(`~/components/${urls[url].com}.vue`)

          /*if (res._url_test && comp.default.hasOwnProperty('validate')) {
            return await comp.default.validate(context)
          }*/
          return res._url_test
        }
      }
      return false
    },

    async fetch (context) {
      let comp = await import(`~/components/${context.store.state.spa.spa_component}.vue`);

      if (comp.default.hasOwnProperty('fetch')) {
        await comp.default.fetch(context)
      }
    },

    async asyncData (context) {
      let comp = await import(`~/components/${context.store.state.spa.spa_component}.vue`);

      delete comp.default.data;

      if (comp.default.hasOwnProperty('asyncData')) {
        const new_context = Object.assign({}, context, { props: context.store.state.spa.spa_params });
        await context.store.commit('spa/setSPAData', Object.assign({}, await comp.default.asyncData(new_context)))
      }

      return Promise.resolve({
        test: null
      })
    },

    computed: {
      ...mapGetters('spa', {
        spa_params: 'params',
        spa_component: 'component',
        spa_data: 'data'
      }),

      currentPage () {
        return () => import(`~/components/${this.spa_component}.vue`)
          .then(obj => {

            if (this.$store.state.spa.spa_data) {
              // Вот тут нужно именно прямое обращение к состоянию хранилища, !!!не через getter!!!
              const origin_data = obj.default.data ? obj.default.data : {};
              obj.default.data = () => {
                return {
                  ...origin_data,
                  ...this.$store.state.spa.spa_data
                }
              }
            }

            return Promise.resolve(obj)
          })
      }
      ,
      currentPageParams () {
        return this.spa_params
      }
    }
    ,
    methods: {
      ...
        mapMutations('spa', {
          setSPAParams: 'setSPAParams',
          setSPAComp: 'setSPAComp',
          setSPAFetch: 'setSpaFetch',
        }),
    },
  }
</script>

