<template>
  <tab-div id="content" :style="{ width: calcWidth + 'px', 'margin-left': calcMarginLeft + 'px' }">
    <v-row class="flex-child py-0 my-0">
      <v-col
        class="py-0 my-0"
        xl="8"
        lg="8"
        md="8"
        sm="12"
        cols="12"
        order-xl="1"
        order-lg="1"
        order-md="1"
        order-sm="1"
        order="1"
      >
        <v-row>
          <v-col cols="12" class="col-padding">
            <siriuso-block>
              <v-row class="pa-0 ma-0">
                <v-col>
                  <v-btn @click="textAreaCount('-')">-</v-btn>
                  <v-btn @click="textAreaCount('+')">+</v-btn>
                  <v-btn @click="compareDict(textInput)">Поехали: {{textAreaQuantity}}</v-btn>
                </v-col>
                <v-col>
                  <v-radio-group v-model="radios" dense hide-details>
                    <v-radio label="Объединять всё" value="radio-1"></v-radio>
                    <v-radio label="Выбирать наибольшее" value="radio-2"></v-radio>
                    <v-radio label="Первый словарь приоритетный" value="radio-3"></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col>
                  <v-checkbox
                    v-model="rawFormat"
                    :label="rawFormat ?'Формат через ;' : 'С новой строки' "
                    dense
                    hide-details
                    :append-icon="!rawFormat ? 'mdi-human-greeting':'mdi-robot'"
                  ></v-checkbox>
                </v-col>
              </v-row>
            </siriuso-block>
          </v-col>
          <v-col cols="12" class="col-padding">
            <siriuso-block>
              <v-textarea
                v-for="(item,idx) in textAreaQuantity"
                :key="item+idx"
                :height="(heightArea - 250)/textAreaQuantity"
                filled
                clearable
                no-resize
                :label="'Слов: '+quantityInArea[item-1]"
                placeholder="введите несколько строчек"
                value
                solo
                hide-details
                v-model="textInput[item-1]"
              ></v-textarea>
            </siriuso-block>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        class="col-padding"
        xl="4"
        lg="4"
        md="4"
        sm="12"
        cols="12"
        order-xl="1"
        order-lg="1"
        order-md="1"
        order-sm="1"
        order="1"
      >
        <siriuso-block>
          <v-row class="pa-0 ma-0">
            <v-col cols="4">
              <v-switch
                hide-details
                v-model="switch1"
                label
                :prepend-icon="!switch1 ? 'mdi-human-greeting':'mdi-robot'"
                class="custom-switch"
              ></v-switch>
            </v-col>
            <v-col cols="4">
              <v-btn @click="copyText" v-show="switch1" dense icon>
                <v-icon>mdi-clipboard-text</v-icon>
              </v-btn>
            </v-col>
            <v-col cols="4">
              <v-checkbox
                v-model="rawFormatOut"
                :label="rawFormatOut ?'Формат через ;' : 'С новой строки' "
                dense
                hide-details
                :append-icon="!rawFormatOut ? 'mdi-human-greeting':'mdi-robot'"
              ></v-checkbox>
            </v-col>
          </v-row>

          <v-sheet
            v-show="!switch1"
            class="overflow-y-auto"
            :style="tileStyle"
            :height="this.$vuetify.breakpoint.height"
          >
            <p>Всего слов: {{this.unikWordSize}}</p>
            <p
              v-for="(num, idx) in quantityInArea"
              :key="num+idx+'wordsInDict'"
            >Словарь №{{idx+1}} - {{num}} слов</p>

            <p v-for="(item,idx) in resultList" :key="item.idx+idx+'wordsInList'" class="dict-link">
              <a :href="item.remoteLink" target="_blank">{{item.key + " - " + item.value}}</a>
            </p>
          </v-sheet>

          <v-textarea
            id="tocopy"
            readonly
            v-show="switch1"
            :height="(heightArea)"
            filled
            no-resize
            placeholder="Тут будет результат"
            value
            solo
            hide-details
            v-model="textOut"
          ></v-textarea>
        </siriuso-block>
      </v-col>
    </v-row>
  </tab-div>
</template>

<script>
import tabDiv from "~/components/tabDiv";
import tinycolor from "tinycolor2";
import siriusoBlock from "~/components/siriusoBlock";

export default {
  components: {
    tabDiv,
    siriusoBlock
  },
  data() {
    return {
      mystore: this.$store.state.tabLogic,
      textInput: [
        "abnegacio;самоотверженность;abelo;пчела;abismo;пропасть,пучина;"
      ],
      textOut: "",
      cropDigit: true,
      cropLength: 0,
      cropJ: false,
      cropN: false,
      changeMore: 0,
      changeA: false,
      changeE: false,
      changeMoreI: false,
      changeMoreO: false,
      esperantoDict: [],
      switch1: false,
      resultList: [],
      initialTextLength: 0,
      resultTextLength: 0,
      calcWordOfDict: 0,
      unikWordSize: 0,
      chipGroupDefault: [0],

      textAreaQuantity: 1,
      radios: "radio-1",
      resultDictionary: Map,
      quantityInArea: [],
      rawFormat: false,
      rawFormatOut: false
    };
  },
  computed: {
    calcWidth() {
      if (this.$vuetify.breakpoint.width < 1264) {
        return this.$vuetify.breakpoint.width - 4 - this.calcMarginLeft;
      } else {
        return 1206;
      }
    },
    calcMarginLeft() {
      if (
        !this.$store.getters["tabLogic/leftDrawer"](
          this.$vuetify.breakpoint.width
        )
      ) {
        return 0;
      } else {
        return 48;
      }
    },
    tileStyle: function() {
      if (this.$store) {
        let color = "rgba(102, 153, 255)";
        let tiny = tinycolor(color);
        let tiny0 = tiny.complement();
        let tiny1 = tiny0.clone();
        let tiny2 = tiny0.clone();
        tiny0.setAlpha(1);
        tiny1.setAlpha(0.7);
        tiny2.setAlpha(0.01);
        return `background: ${tiny
          .setAlpha(0.05)
          .lighten(30)
          .toRgbString()};   color: ${tiny
          .setAlpha(1)
          .darken(85)
          .toRgbString()};   `;
      }
    },
    heightArea: function() {
      return this.$vuetify.breakpoint.height;
    }
  },
  methods: {
    copyText() {
      let input = document.getElementById("tocopy");
      input.select();
      document.execCommand("copy");
    },
    textAreaCount: function(str) {
      if (str === "+") {
        if (this.textAreaQuantity < 9) {
          this.textAreaQuantity++;
        }
      }
      if (str === "-") {
        if (this.textAreaQuantity > 1) {
          this.textAreaQuantity--;
        }
      }
    },
    compareDict: function(array) {
      this.textOut = "";
      this.resultList = [];
      this.initialTextLength = 0;
      this.resultTextLength = 0;
      this.calcWordOfDict = 0;
      this.unikWordSize = 0;
      this.resultDictionary = new Map();
      this.quantityInArea = [];

      //сортировка. сначала переношу map в массив, потом сортирую массив
      function sortObject(map) {
        let arr = [];
        // let map1 = new Map();
        for (var [key, value] of map) {
          arr.push({ key, value });
        }
        // arr.sort(function(a, b) {
        //   return b.value - a.value;
        // });
        arr.sort(function(a, b) {
          return a.key.localeCompare(b.key);
        }); //для сравнения строк
        // map.clear();
        // map = new Map();
        // arr.forEach(el => map => {
        //   map.set(el[0], el[1]);
        // });
        return arr;
      }

      // перевожу символы в X-написание и формирую url на словарь
      function toXNotatioUrl(str) {
        let arr = ["ĉ", "ĝ", "ĥ", "ŝ", "ŭ", "ĵ"];
        let arrx = ["cx", "gx", "hx", "sx", "ux", "jx"];
        let map = new Map();
        for (let i = 0; i < arr.length; i++) {
          map.set(arr[i], arrx[i]);
        }

        let strArr = str.split("");
        let newStrArr = [];
        for (let i = 0; i < strArr.length; i++) {
          const el = strArr[i];
          map.has(el) ? (el = map.get(el)) : "";
          newStrArr.push(el);
        }
        let newStr = newStrArr.join("");
        return "http://rueo.ru/sercxo/" + newStr;
      }

      function textAreaRawFormat(array, esperantoDict, quantityInArea) {
        for (let i = 0; i < array.length; i++) {
          let dict = array[i];
          let espDictArray =
            dict !== undefined
              ? dict !== null
                ? dict.toLowerCase().split(";")
                : ""
              : "";
          esperantoDict[i] = new Map();

          for (let j = 0; j < espDictArray.length - 1; j = j + 2) {
            let str1 = espDictArray[j].trim();
            let str2 = espDictArray[j + 1].trim();
            esperantoDict[i].set(str1, str2);
          }

          // console.log(esperantoDict[i].size);

          quantityInArea[i] = esperantoDict[i].size;
        }
      }
      function textAreaCaretteFormat(array, esperantoDict, quantityInArea) {
        for (let i = 0; i < array.length; i++) {
          let dict = array[i];
          let espDictArray =
            dict !== undefined
              ? dict !== null
                ? dict.toLowerCase().split("\u000A")
                : ""
              : "";

          esperantoDict[i] = new Map();

          for (let j = 0; j < espDictArray.length; j++) {
            let dotCommaPos = espDictArray[j].indexOf(";");

            let str1 = espDictArray[j].slice(0, dotCommaPos).trim();
            let str2 = espDictArray[j].slice(dotCommaPos + 1).trim();
            esperantoDict[i].set(str1, str2);
          }

          // console.log(esperantoDict[i].size);

          quantityInArea[i] = esperantoDict[i].size;
        }
      }
      this.rawFormat
        ? textAreaRawFormat(array, this.esperantoDict, this.quantityInArea)
        : textAreaCaretteFormat(array, this.esperantoDict, this.quantityInArea);

      if (this.radios === "radio-1") {
        if (this.esperantoDict.length > 0) {
          for (let i = 0; i < this.esperantoDict.length; i++) {
            const map = this.esperantoDict[i];
            let dict1 = this.resultDictionary;
            for (var [key, value] of map) {
              if (dict1.has(key)) {
                let str1 = dict1.get(key);
                str1 !== value ? dict1.set(key, str1 + "," + value) : "";
              } else {
                dict1.set(key, value);
              }
            }
          }
        }
        console.log("Summ radio1: " + this.resultDictionary.size);
      }

      if (this.radios === "radio-2") {
        if (this.esperantoDict.length > 0) {
          for (let i = 0; i < this.esperantoDict.length; i++) {
            const map = this.esperantoDict[i];
            let dict1 = this.resultDictionary;
            for (var [key, value] of map) {
              if (dict1.has(key)) {
                let str1 = dict1.get(key);
                value.length > str1.length
                  ? dict1.set(key, value)
                  : dict1.set(key, str1);
              } else {
                dict1.set(key, value);
              }
            }
          }
        }
        console.log("Summ radio2: " + this.resultDictionary.size);
      }
      if (this.radios === "radio-3") {
        if (this.esperantoDict.length > 0) {
          for (let i = 0; i < this.esperantoDict.length; i++) {
            const map = this.esperantoDict[i];
            let dict1 = this.resultDictionary;
            for (var [key, value] of map) {
              if (!dict1.has(key)) {
                dict1.set(key, value);
              }
            }
          }
        }
        console.log("Summ radio3: " + this.resultDictionary.size);
      }
      //сортировка
      let finaleDict = sortObject(this.resultDictionary);
      //заполняю свойства в data для того чтоб обращаться к ним из вёрстки
      //количество найденных слов
      // this.initialTextLength = arrText1.length;
      //общее количество нормализованных слов
      // this.resultTextLength = arrText.length;
      // количество уникальных слов
      this.unikWordSize = this.resultDictionary.size;

      //формирую текст для вывода
      for (let i = 0; i < finaleDict.length; i++) {
        const el = finaleDict[i];
        this.rawFormatOut
          ? (this.textOut += el.key + ";" + el.value + ";")
          : (this.textOut += el.key + ";" + el.value + "\u000A");
        el.remoteLink = toXNotatioUrl(el.key);
        el.idx = i;
      }

      this.rawFormatOut ? (this.textOut = this.textOut.slice(0, -1)) : "";
      this.resultList = finaleDict;
    }
  },
  mounted() {
    // let dict = this.$store.getters["esperantoDict/esperantoDictRaw"];
    // let espDictArray = dict.toLowerCase().split(";");
    // this.esperantoDict = new Map();
    // for (let i = 0; i < espDictArray.length - 1; i = i + 2) {
    //   let str1 = espDictArray[i];
    //   let str2 = espDictArray[i + 1];
    //   this.esperantoDict.set(str1, str2);
    // }
    // console.log(this.esperantoDict.size);
  }
};
</script>

<style scoped>
#content {
  /* padding: 2em; */
  height: calc(100% - 55px);
  position: relative;
  top: -12px;
  background: rgba(145, 148, 151, 0);
  margin: 0px 0px 0px 48px;
  clip-path: polygon(
    15px 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%,
    0 15px
  );
}
.dict-link a {
  color: #0d0d0e !important;
  caret-color: #15151a !important;
  text-decoration: none;
}
.dict-link a:hover {
  color: #0d0d0e !important;
  caret-color: #15151a !important;
  text-decoration: darkred;
}
.dict-link a:active {
  color: #0d0d0e !important;
  caret-color: #15151a !important;
  text-decoration: darkred;
}
@media screen and (max-width: 600px) {
  .col-padding {
    padding: 5px;
  }
}
@media screen and (min-width: 601px) {
  .col-padding {
    padding: 7.5px;
  }
}
</style>