//Базовый тег разметки в Vue-компоненте
<template>
  <!-- Теги разметки от Vuetify от которого взяты UI-компоненты (оформление)-->
  <v-col class="pa-0 pt-2">
    <v-col class="friend_list pa-0">
      <v-card>
        <v-tabs v-model="tabs">
          <v-tabs-slider></v-tabs-slider>
          <v-tab>
            <p>Все люди</p>
          </v-tab>

          <v-tab>
            <p>Товарищи</p>
          </v-tab>
        </v-tabs>
        <v-row align="center">
          <v-list :avatar="avatar" style="width: 100%;" v-if="uzantoj">
            <v-list-item-group color="primary">
              <v-list-item
                v-for="(uzanto, i) in uzantoj"
                :key="i"
                @click="!friend_action? $router.push(`idu${uzanto.node.objId}`) : ''"
              >
                <v-list-item-avatar v-if="avatar">
                  <v-img :src="uzanto.node.avataro.bildoF.url"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{`${uzanto.node.unuaNomo.enhavo} ${uzanto.node.familinomo.enhavo}`}}</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action @click.prevent="friendActions(uzanto.node.uuid)">
                  <v-btn
                    :color="`${uzanto.node.statistiko.miaGekamarado? 'red' : 'green'} lighten-1`"
                    dark
                  >
                    <v-icon>{{uzanto.node.statistiko.miaGekamarado? 'mdi-minus' : 'mdi-plus'}}</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
            </v-list-item-group>
          </v-list>
          <app-loader v-else></app-loader>
        </v-row>
      </v-card>
    </v-col>
    <div style="position: fixed; height: 20px; backgroundColor: red;"></div>
  </v-col>
</template>

<script>
import { uzantoj_query, gekamaradoj_query } from "../components/kmr/queries";
import { graphQlUrlize } from "../utils";

export default {
  data: () => ({
    uzantoj: null,
    avatar: true,
    tabs: null,
    lastLoaded: "",
    friend_action: false
  }),
  watch: {
    tabs: function(val, oldVal) {
      if (this.uzantoj) {
        if (val == 0) {
          // Очищаем список товарищей потому что условие для компонента анимации загрузки то что этот список null
          this.uzantoj = null;
          this.lastLoaded = "";
          // Потом загружаем новый список
          this.load_all_users();
        }
        if (val == 1) {
          // Очищаем список товарищей потому что условие для компонента анимации загрузки то что этот список null
          this.uzantoj = null;
          this.lastLoaded = "";
          // Потом загружаем новый список
          this.load_friends();
        }
      }
    }
  },
  methods: {
    async load_all_users() {
      const resp = await this.$axios.$get(
        graphQlUrlize({
          query: uzantoj_query,
          variables: { first: 20, after: this.lastLoaded }
        })
      );
      this.lastLoaded = resp.data.uzantoj.pageInfo.endCursor;
      if (this.uzantoj) {
        this.uzantoj = [...this.uzantoj, ...resp.data.uzantoj.edges];
      } else {
        this.uzantoj = resp.data.uzantoj.edges;
      }
    },
    async load_friends() {
      const resp = await this.$axios.$get(
        graphQlUrlize({
          query: gekamaradoj_query,
          variables: { first: 20, after: this.lastLoaded }
        })
      );
      this.lastLoaded = resp.data.gekamaradoj.pageInfo.endCursor;
      if (this.uzantoj) {
        this.uzantoj = [...this.uzantoj, ...resp.data.gekamaradoj.edges];
      } else {
        this.uzantoj = resp.data.gekamaradoj.edges;
      }
    },
    handleScroll() {
      // Добавляем ещё 20 людей если мы в низу страницы
      if (
        window.innerHeight + window.scrollY >= document.body.offsetHeight &&
        this.lastLoaded != ""
      ) {
        if (this.tabs == 0) {
          console.log(this.lastLoaded);

          this.load_all_users();
        }
        if (this.tabs == 1) {
          this.load_friends();
        }
      }
    },
    friendActions(uuid) {
      console.log(uuid);

      this.friend_action = true;
    }
  },
  async mounted() {
    this.load_all_users();
  },
  created() {
    // Добавляем event listener на window
    if (process.client) {
      window.addEventListener("scroll", this.handleScroll);
    }
  },
  destroyed() {
    // Удаляем event listener на window
    if (process.client) {
      window.removeEventListener("scroll", this.handleScroll);
    }
  }
};
</script>

<style scoped>
.friend_list {
  padding: 2em;
  height: calc(100% - 55px);
  position: absolute;
  z-index: 2;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.5);
  top: 48px;
  background: rgba(145, 148, 151, 0.8);
  margin: 3px 3px 3px 51px;
  width: 1206px;
}
</style>