<template>
  <div class="page_container">
    <v-stepper
      v-model="step"
      alt-labels
    >
      <v-stepper-header>
        <template
          v-for="item in steps"
        >
          <v-divider
            v-if="item.step > 1"
            :key="`div_${item.step}`"
          />
          <v-stepper-step
            :key="item.step"
            :complete="step > item.step"
            :step="item.step"
          >
            <span style="text-align: center">
              {{ item.text }}
            </span>
          </v-stepper-step>
        </template>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content
          :step="1"
        >
          <v-card>
            <v-card-text>
              <p>
                На следующих шагах вы можете зарегистрироваться во Всемирной автоматизированной системе Техноком,
                получить
                ваш Tehnokom ID.
              </p>
              <p>
                Tehnokom ID так же применяется и для Universo на (Международном языке (эсперанто) - Вселенная) - это
                Реальный виртуальный мир, первый и единственный в таком роде. Universo - третий блок Всемирной
                автоматизированной системы Техноком. Реальный виртуальный мир совмещает в себе элементы Дополненной
                реальности (Расширенная реальность) и Виртуального пространства (Виртуальный мир).
              </p>
            </v-card-text>
            <v-card-actions>
              <v-btn
                color="success"
                @click="step++"
              >
                Принимаю
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-stepper-content>

        <v-stepper-content
          :step="2"
        >
          <reg-form @success="step++"/>
        </v-stepper-content>

        <v-stepper-content
          :step="3"
        >
          <confirm-form @success="step++"/>
        </v-stepper-content>

        <v-stepper-content
          :step="4"
        >
          <v-card>
            <v-card-text>
              <p>
                Вы зарегистрировали вашу учётную запись Tehnokom ID и можете использовать её на всех сервисах
                Технокома,
                в
                том числе для авторизации в Universo.
              </p>
              <p>
                Для входа воспользуйтесь
                <a
                  href="javascript:void(0);"
                  @click="$siriuso.showLoginForm()"
                >
                  формой входа на сайт
                </a>.
              </p>
            </v-card-text>
          </v-card>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
  import {mapGetters, mapMutations} from 'vuex'

  export default {
    name: 'Registrado',

    components: {
      RegForm: () => import('../components/registrado/RegForm'),
      ConfirmForm: () => import('../components/registrado/ConfirmForm')
    },

    data() {
      return {
        steps: [
          {step: 1, text: 'Соглашение'},
          {step: 2, text: 'Данные регистрации'},
          {step: 3, text: 'Подтверждение регистрации'},
          {step: 4, text: 'Завершение регистрации'}
        ],
        step: 1
      }
    },

    computed: {
      ...mapGetters(['isLoggedIn', 'konfirmita'])
    },

    watch: {
      '$auth.loggedIn': function (cur, old) {
        if (cur) {
          this.$router.push('/')
        }
      },

      konfirmita: function (cur, old) {
        if (cur === false) {
          this.step = 3
        }
      }
    },

    beforeMount() {
      if (this.konfirmita === false) {
        this.step = 3
        this.setKonfirmita(null)
      }

      if (this.isLoggedIn) {
        this.$router.push('/')
      }
    },

    methods: {
      ...mapMutations(['setKonfirmita'])
    }
  }
</script>

<style scoped>
  .page_container {
    margin-left: 60px;
  }
</style>
