<template>
	<v-container class="grey lighten-5">
		<v-row class="mb-6" no-gutters>
			<v-col>
				<v-row no-gutters>
					<v-col>
						<muro :muroUzanto_id="this.uzanto_id" @uzantoData='uzantoTranslate'/>
					</v-col>
					
				</v-row>
				
				<v-row class="mb-6" no-gutters>
					<v-col>
						<enskribo :muroUzanto_id="this.uzanto_id" :avataro="avataro" :name="name" :familio="familio"/>
					</v-col>
				</v-row>
				<v-row no-gutters>
					<v-col>
						<komento /> 
					</v-col>
				</v-row>
			</v-col>
			<v-col lg="2">
				<v-card class="mb-6" outlined tile>
					Правый столбец
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>


<script>
import Muro from '@/components/muro/Muro';
import Enskribo from '@/components/muro/Enskribo';
import Komento from '@/components/muro/Komento';
//import { uzanto_query } from './queries';

export default {
	data () {
	return {
		avataro: '',
		name: '',
		familio: ''
	}
},

	components: {
		Muro,
		Enskribo,
		Komento
	},
	methods: {
		uzantoTranslate (data) {
			this.name = data.name;			//получение данных из Muro
			this.familio = data.familio;
			this.avataro = data.avataro;
			//console.log(data);
		}

	},

	props: ['uzanto_id']
};
</script>

