<template>
  <!-- <v-card> -->
  <v-navigation-drawer
    :value="leftDrawer"
    mini-variant-width="48px"
    app
    mini-variant
    dark
    color="rgba(33, 90, 155, 0.01)"
    flat
    tile
    shaped
    stateless
    :style="barStyle2"
    class="pathcrop"
  >
    <!-- <v-avatar tile class="vert-button-style">
      <v-img
        :src="item0.icon()"
        @click="goTo(item0.to)"
        @clicked="goTo($event)"
        :title="item0.title"
      ></v-img>
    </v-avatar>-->

    <v-avatar
      class="vert-button-style"
      tile
      v-for="(item, i) in items"
      :key="item.title+'A'+i"
      link
    >
      <v-img :src="item.icon" @click="goTo(item.to)" @clicked="goTo($event)" :title="item.title"></v-img>
    </v-avatar>

    <!-- <v-avatar tile class="vert-button-style">
      <v-img
        :src="itemLogInOut.icon()"
        @click="goTo(itemLogInOut.to)"
        @clicked="goTo($event)"
        :title="itemLogInOut.title()"
      ></v-img>
    </v-avatar>-->
  </v-navigation-drawer>
</template>


<script>
import Vue from "vue";
import tinycolor from "tinycolor2";

export default {
  data() {
    return {
      mystore: this.$store,

      item0: {
        icon: () => {
          return this.$store.state.tabLogic.tabs[
            this.$store.state.tabLogic.currentTab
          ].imageMin;
        },
        title: "Вселенная",
        to: "/",
        onlyLoggedIn: false
      },
      items: [
        {
          icon: "/icons/lefticon7.png",
          title: "Новости",
          to: "/nov",
          onlyLoggedIn: false
        },
        {
          icon: "/icons/lefticon2.png",
          title: "Сообщества",
          to: "/kom",
          onlyLoggedIn: false
        },

        {
          icon: "/icons/lefticon3.png",
          title: "Академия",
          to: "/akd",
          onlyLoggedIn: false
        },
        {
          icon: "/icons/lefticon4.png",
          title: "Энциклопедия",
          to: "/akd",
          onlyLoggedIn: false
        },
        {
          icon: "/icons/lefticon5.png",
          title: "Инициативы",
          to: "/bat",
          onlyLoggedIn: true
        },

        {
          icon: "/icons/lefticon11.png",
          title: "Общение",
          to: "/knf",
          onlyLoggedIn: true
        }
      ],

      items2: [],
      itemLogInOut: {
        icon: () => {
          return !this.$auth.loggedIn
            ? "/icons/iconOn.png"
            : "/icons/iconOff.png";
        },
        title: () => {
          return !this.$auth.loggedIn ? "Войти" : "Выйти";
        },

        to: () => {
          if (!this.$auth.loggedIn) {
            this.$siriuso.showLoginForm();
          } else {
            this.$auth.logout();
          }
        }
      },
      currentTab: 0,

      leftMini: true
    };
  },

  watch: {},

  computed: {
    showLoginForm: {
      set: function(val) {
        this.$store.commit("system/setShowLoginForm", val);
      },

      get: function() {
        return this.$store.state.system.show_login_form;
      }
    },

    barStyle2: function() {
      if (this.$store) {
        let color = this.$store.getters["tabLogic/backgroundColor"];
        let tiny0 = tinycolor(color);
        // let tiny1 = tiny0.clone();
        // let tiny2 = tiny0.clone();
        tiny0.setAlpha(0.9);
        // tiny1.setAlpha(0.7);
        // tiny2.setAlpha(0);
        // let deg = "225deg";
        // let gradEnd = "9%";
        // let gradBegin = "11%";

        return `background: ${tiny0.toRgbString()};`;

        // return `background: ${tiny0.toRgbString()}; background: -moz-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: -webkit-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="${tiny0.toHexString()}",endColorstr="${tiny0.toHexString()}",GradientType=1);`;
      }
    },
    leftDrawer: function() {
      return this.$store.getters["tabLogic/leftDrawer"](
        this.$vuetify.breakpoint.width
      );
    }
  },

  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },

  mounted() {
    // this.$root.$on("changeCurrentTab", this.changeCurrentTab);
  },
  beforeDestroy() {
    // this.$root.$off("changeCurrentTab", this.changeCurrentTab);
  },
  updated() {},
  created() {}
};
</script>

<style >
.v-list.v-sheet.v-sheet--tile.theme--dark.v-list--dense {
  padding-top: 3px;
  padding-bottom: 0px;
}

.v-navigation-drawer {
  top: 51px !important;
  left: unset !important;
}
.vert-button-style {
  margin-top: 3px;
}
.vert-button-style:first-child {
  margin-top: 0px;
}

.pathcrop {
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%);
}
</style>