<template>
  <v-navigation-drawer
    app
    :value="rightDrawer"
    light
    right
    :width="rightDrawerWidth"
    flat
    tile
    stateless
    :style="barStyle2"
  >
    <siriuso-block-right :styleComponent="tileStyle" class="col-padding-right">
      <v-row class="pa-0 ma-0">
        <v-col>
          <v-list-item three-line>
            <v-list-item-avatar tile class="cropped-avatar" width="48px" height="48px">
              <v-img :src="currentUser.avatar"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ currentUser.name + ' '+currentUser.lastname}}</v-list-item-title>
              <v-list-item-subtitle>{{ " id: " +currentUser.id}}</v-list-item-subtitle>
              <v-list-item-subtitle
                link
                @click="$router.push(`idu${currentUser.id}`)"
              >Открыть профиль</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-col>
      </v-row>
    </siriuso-block-right>
    <v-divider></v-divider>
    <siriuso-block-right :styleComponent="tileStyle" class="col-padding-right">
      <v-list dense nav>
        <v-list-item v-for="item in itemsnew" :key="item.title" @click>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list class="grow">
        <v-list-item v-for="link in links" :key="link" link>
          <v-list-item-title v-text="link"></v-list-item-title>
        </v-list-item>
      </v-list>
    </siriuso-block-right>
    <v-divider></v-divider>

    <!-- кнопки -->
    <siriuso-block-right :styleComponent="tileStyle" class="col-padding-right">
      <v-row class="flex-child pa-0 ma-0">
        <v-col
          link
          xl="1"
          lg="1"
          md="1"
          sm="1"
          cols="2"
          style="padding-top: 3px; padding-bottom: 3px;"
        >
          <v-avatar tile>
            <v-img
              :src="item0.icon()"
              @click="goTo(item0.to)"
              @clicked="goTo($event)"
              :title="item0.title"
            ></v-img>
          </v-avatar>
        </v-col>
        <v-col
          v-for="(item, i) in items"
          :key="item.title+'z'+i"
          link
          xl="1"
          lg="1"
          md="1"
          sm="1"
          cols="2"
          style="padding-top: 3px; padding-bottom: 3px;"
        >
          <v-avatar tile>
            <v-img
              :src="item.icon"
              @click="goTo(item.to)"
              @clicked="goTo($event)"
              :title="item.title"
            ></v-img>
          </v-avatar>
        </v-col>

        <v-col
          link
          dense
          xl="1"
          lg="1"
          md="1"
          sm="1"
          cols="2"
          style="padding-top: 3px; padding-bottom: 3px;"
        >
          <v-avatar tile>
            <v-img
              :src="itemLogInOut.icon()"
              @click="goTo(itemLogInOut.to)"
              @clicked="goTo($event)"
              :title="itemLogInOut.title()"
            ></v-img>
          </v-avatar>
        </v-col>
      </v-row>
    </siriuso-block-right>
  </v-navigation-drawer>
</template>

<script>
import Vue from "vue";
import tinycolor from "tinycolor2";
import siriusoBlockRight from "~/components/siriusoBlockRight";

export default {
  components: { siriusoBlockRight },
  data() {
    return {
      mystore: this.$store,
      itemsnew: [
        { title: "Раз", icon: "" },
        { title: "Два", icon: "" }
      ],
      links: ["Раз", "Два", "Три"],
      rightMini: true,

      item0: {
        icon: () => {
          return this.$store.state.tabLogic.tabs[
            this.$store.state.tabLogic.currentTab
          ].imageMin;
        },
        title: "Вселенная",
        to: "/",
        onlyLoggedIn: false
      },
      items: [
        {
          icon: "/icons/icon1.png",
          title: "Новости",
          to: "/nov",
          onlyLoggedIn: false
        },
        {
          icon: "/icons/icon2.png",
          title: "Сообщества",
          to: "/kom",
          onlyLoggedIn: false
        },

        {
          icon: "/icons/icon3.png",
          title: "Академия",
          to: "/akd",
          onlyLoggedIn: false
        },
        {
          icon: "/icons/icon4.png",
          title: "Энциклопедия",
          to: "/akd",
          onlyLoggedIn: false
        },
        {
          icon: "/icons/icon5.png",
          title: "Инициативы",
          to: "/bat",
          onlyLoggedIn: true
        },

        {
          icon: "/icons/icon6.png",
          title: "Общение",
          to: "/knf",
          onlyLoggedIn: true
        },
        {
          icon: "/icons/icon7.png",
          title: "Товарищи",
          to: "/kmr",
          onlyLoggedIn: true
        }
      ],

      itemLogInOut: {
        icon: () => {
          return !this.$auth.loggedIn
            ? "/icons/iconOn.png"
            : "/icons/iconOff.png";
        },
        title: () => {
          return !this.$auth.loggedIn ? "Войти" : "Выйти";
        },

        to: () => {
          if (!this.$auth.loggedIn) {
            this.$siriuso.showLoginForm();
          } else {
            this.$auth.logout();
          }
        }
      },
      currentTab: 0,

      leftMini: true
    };
  },

  watch: {},

  computed: {
    showLoginForm: {
      set: function(val) {
        this.$store.commit("system/setShowLoginForm", val);
      },

      get: function() {
        return this.$store.state.system.show_login_form;
      }
    },

    barStyle2: function() {
      if (this.$store) {
        let color = this.$store.getters["tabLogic/backgroundColor"];
        let tiny0 = tinycolor(color);
        let tiny1 = tiny0.clone();
        let tiny2 = tiny0.clone();
        tiny0.setAlpha(1);
        tiny1.setAlpha(0.7);
        tiny2.setAlpha(0);
        let deg = "225deg";
        let gradEnd = "50%";
        let gradBegin = "100%";

        return `background: ${tiny0.toRgbString()}; background: -moz-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: -webkit-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="${tiny0.toHexString()}",endColorstr="${tiny0.toHexString()}",GradientType=1);`;
      }
    },
    rightDrawer: function() {
      return this.$store.getters["tabLogic/rightDrawer"](
        this.$vuetify.breakpoint.width
      );
    },
    rightDrawerWidth: function() {
      return this.$vuetify.breakpoint.width < 600 ? "100%" : "600px";
    },

    currentUser: function() {
      let userText;

      if (this.$store.getters["siriusoauth/user"] !== null) {
        let currentUser = this.$store.getters["siriusoauth/user"];
        userText = {
          id: currentUser.objId,
          name: currentUser.unuaNomo.enhavo,
          lastname: currentUser.familinomo.enhavo,
          avatar: currentUser.avataro.bildoE.url
        };
      } else {
        userText = {
          id: null,
          name: null,
          lastname: null,
          avatar: "@static/images/login-avatar.png"
        };
      }
      return userText;
    },

    tileStyle: function() {
      if (this.$store) {
        let color = this.$store.getters["tabLogic/backgroundColor"];
        let tiny = tinycolor(color);
        let tiny0 = tiny.complement();
        let tiny1 = tiny0.clone();
        let tiny2 = tiny0.clone();
        tiny0.setAlpha(1);
        tiny1.setAlpha(0.7);
        tiny2.setAlpha(0.01);
        return `background: ${tiny
          .setAlpha(1)
          .lighten(80)
          .toRgbString()};   color: ${tiny
          .setAlpha(1)
          .darken(85)
          .toRgbString()};   `;
      }
    }
  },

  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },

  mounted() {
    // this.$root.$on("changeCurrentTab", this.changeCurrentTab);
  },
  beforeDestroy() {
    // this.$root.$off("changeCurrentTab", this.changeCurrentTab);
  },
  updated() {},
  created() {}
};
</script>

<style >
.col-padding-right {
  /* border: 1.5px ridge rgba(0, 0, 0, 0.6); */
  /* margin: 10px; */
  /* padding: 9px; */
  /* clip-path: polygon(
    calc(100% - 15px) 0,
    100% 15px,
    100% 100%,
    15px 100%,
    0 calc(100% - 15px),
    0 0
  ); */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.col-padding-right:first-child {
  /* border: 1.5px ridge rgba(0, 0, 0, 0.6); */
  /* margin: 10px; */
  /* padding: 9px; */
  clip-path: polygon(
    0 0,
    38px 0,
    53px 15px,
    68px 0,
    calc(100% - 15px) 0,
    100% 15px,
    100% 100%,
    15px 100%,
    0 calc(100% - 15px)
  );
  margin-top: 4px;
}
.cropped-avatar {
  clip-path: polygon(
    15px 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%,
    0 15px
  );
}
</style>