<template >
  <v-app-bar
    :clipped-left="clipped"
    app
    color="rgba(33, 90, 155, 0.01)"
    :style="barStyle2"
    dark
    dense
    tile
    flat
    fixed
    style="   align-self: center;    width: 1264px; margin: 0 0 auto;"
    permanent
  >
    <div id="quadrat" :style="quadratStyle"></div>

    <v-img
      id="logo-style"
      src="/icons/logo2.png"
      @click="$store.commit('tabLogic/leftDrawer', $vuetify.breakpoint.width)"
      contain
      max-height="48px"
      max-width="48px"
    ></v-img>

    <v-tabs hide-slider>
      <v-tab
        :title="(tabItem.min & ($vuetify.breakpoint.width <= 970))  || $vuetify.breakpoint.width <= 1264 ? tabItem.name:''"
        v-for="tabItem in mystore.state.tabLogic.tabs"
        :key="tabItem.name"
        v-on:click="clickOnTab(tabItem.id)"
        :style="mystore.getters['tabLogic/imageStyle'](tabItem.id, $vuetify.breakpoint.width)"
      >{{(!tabItem.min & ($vuetify.breakpoint.width > 970)) || $vuetify.breakpoint.width > 1264 ? tabItem.name:""}}</v-tab>
      <v-avatar tile v-show="$vuetify.breakpoint.width > 970" id="mezoregion">
        <v-img
          :src="item0.icon()"
          @click="goTo(item0.to)"
          @clicked="goTo($event)"
          :title="item0.title"
        ></v-img>
      </v-avatar>
      <v-avatar
        class="horiz-buttons-style first-block"
        tile
        :id="'a'+index"
        v-for="(btn, index) in items"
        :key="'A'+index"
        v-show="$vuetify.breakpoint.width > 970"
      >
        <v-img :src="btn.icon" @click="goTo(btn.to)" @clicked="goTo($event)" :title="btn.title"></v-img>
      </v-avatar>
    </v-tabs>

    <!-- <v-spacer /> -->

    <!-- <v-img src="/images/logo.png" max-width="125px" v-if="$vuetify.breakpoint.width > 1145" /> -->

    <!-- <v-spacer /> -->
    <v-avatar
      class="horiz-buttons-style second-block"
      tile
      :id="'b'+index"
      v-for="(btn, index) in items2"
      :key="'B'+index"
      v-show="$vuetify.breakpoint.width > 970"
    >
      <v-img :src="btn.icon" @click="goTo(btn.to)" @clicked="goTo($event)" :title="btn.title"></v-img>
    </v-avatar>

    <v-avatar
      tile
      v-show="$vuetify.breakpoint.width > 970"
      class="horiz-button-nomo-style"
      height="48px"
      min-width="205px"
    >
      <v-img
        :src="itemLogInOut.icon()"
        @click="goTo(itemLogInOut.to)"
        @clicked="goTo($event)"
        :title="itemLogInOut.title()"
      >{{ currentUser.name}}</v-img>
    </v-avatar>

    <v-app-bar-nav-icon
      v-show="$vuetify.breakpoint.width < 970"
      @click.stop="$store.commit('tabLogic/rightDrawer')"
    >
      <v-img src="/icons/tab6a.png"></v-img>
    </v-app-bar-nav-icon>
  </v-app-bar>
</template>

<script>
import Vue from "vue";
import tinycolor from "tinycolor2";

export default {
  data() {
    return {
      clipped: true,
      mystore: this.$store,

      item0: {
        icon: () => {
          return this.$store.state.tabLogic.tabs[
            this.$store.state.tabLogic.currentTab
          ].imageMinMezo;
        },
        title: "Вселенная",
        to: "/",
        onlyLoggedIn: false
      },

      items: [
        {
          icon: "/icons/icon1.png",
          title: "Новости",
          to: "/nov",
          onlyLoggedIn: false
        },
        {
          icon: "/icons/icon2.png",
          title: "Сообщества",
          to: "/kom",
          onlyLoggedIn: false
        },

        {
          icon: "/icons/icon3.png",
          title: "Академия",
          to: "/akd",
          onlyLoggedIn: false
        },
        {
          icon: "/icons/icon4.png",
          title: "Энциклопедия",
          to: "/akd",
          onlyLoggedIn: false
        }
      ],

      items2: [
        {
          icon: "/icons/icon5.png",
          title: "Инициативы",
          to: "/bat",
          onlyLoggedIn: true
        },

        {
          icon: "/icons/icon6.png",
          title: "Общение",
          to: "/knf",
          onlyLoggedIn: true
        },
        {
          icon: "/icons/icon7.png",
          title: "Товарищи",
          to: "/kmr",
          onlyLoggedIn: true
        }
      ],
      itemLogInOut: {
        icon: () => {
          return !this.$auth.loggedIn
            ? "/icons/tab5_1.png"
            : "/icons/tab5_1.png";
        },
        title: () => {
          return !this.$auth.loggedIn ? "Войти" : "Выйти";
        },

        to: () => {
          if (!this.$auth.loggedIn) {
            this.$siriuso.showLoginForm();
          } else {
            this.$auth.logout().then(() => window.location.reload(true));
          }
        }
      },
      clickOnTab(tab) {
        this.$store.commit("tabLogic/clickOnTab", tab);

        // this.$root.$emit("changeCurrentTab", this.currentTab);
      },
      // currentTab: 0,

      miniVariant: false
    };
  },
  components: {},

  watch: {
    "$auth.loggedIn": function(cur, old) {
      this.loading = !cur;
    }
  },

  computed: {
    showLoginForm: {
      set: function(val) {
        this.$store.commit("system/setShowLoginForm", val);
      },

      get: function() {
        return this.$store.state.system.show_login_form;
      }
    },

    snackText() {
      if (this.$store.state.system.messages.length === 0) {
        return { text: "", color: null };
      }

      return this.$store.state.system.messages[0];
    },

    barStyle2: function() {
      if (this.$store) {
        let color = this.$store.getters["tabLogic/backgroundColor"];
        let tiny0 = tinycolor(color);
        // let tiny1 = tiny0.clone();
        // let tiny2 = tiny0.clone();
        tiny0.setAlpha(0);
        // tiny1.setAlpha(0.7);
        // tiny2.setAlpha(0);
        // let deg = "60deg";
        // let gradEnd = "0%";
        // let gradBegin = "0%";
        return `background: ${tiny0.toRgbString()};`;
        // return `background: ${tiny0.toRgbString()}; background: -moz-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: -webkit-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="${tiny0.toHexString()}",endColorstr="${tiny0.toHexString()}",GradientType=1);`;
      }
    },
    quadratStyle: function() {
      if (this.$store) {
        let color = this.$store.getters["tabLogic/backgroundColor"];
        let tiny0 = tinycolor(color);
        // let tiny1 = tiny0.clone();
        // let tiny2 = tiny0.clone();
        tiny0.setAlpha(0.95);
        // tiny1.setAlpha(0.7);
        // tiny2.setAlpha(0);
        // let deg = "60deg";
        // let gradEnd = "0%";
        // let gradBegin = "0%";
        return `background: ${tiny0.toRgbString()};`;
        // return `background: ${tiny0.toRgbString()}; background: -moz-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: -webkit-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="${tiny0.toHexString()}",endColorstr="${tiny0.toHexString()}",GradientType=1);`;
      }
    },
    imageStyle(tabItem) {
      return `background-image: url( ${
        !tabItem.min ? tabItem.imageFull : tabItem.imageMin
      }`;
    },
    currentUser: function() {
      let userText;

      if (this.$store.getters["siriusoauth/user"] !== null) {
        let currentUser = this.$store.getters["siriusoauth/user"];
        userText = {
          id: currentUser.objId,
          name: currentUser.unuaNomo.enhavo,
          lastname: currentUser.familinomo.enhavo,
          avatar: currentUser.avataro.bildoE.url
        };
      } else {
        userText = {
          id: null,
          name: null,
          lastname: null,
          avatar: "@static/images/login-avatar.png"
        };
      }
      return userText;
    }
  },

  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },

  mounted() {},
  updated() {},
  created() {}
};
</script>

<style >
@media screen and (min-width: 601px) {
  #quadrat {
    position: absolute;
    width: 30px;
    height: 30px;
    /* background: red; */
    margin-left: 34px;
    margin-top: 26px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}
@media screen and (max-width: 600px) {
  #quadrat {
    position: absolute;
    width: 30px;
    height: 30px;
    /* background: red; */
    margin-left: 48px;
    margin-top: 26px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}
@media screen and (min-width: 601px) {
  .v-tab {
    color: white;
    min-width: 60px;

    /* width: 205px; */
    margin-left: -9px;
    font-weight: 1000;
    /* max-width: 205px; */
  }
  div.v-tab:nth-child(1) {
    /* color: white; */
    margin-left: 2px;
    /* width: 205px; */
  }
  #mezoregion {
    margin-left: -9px;
  }
  .horiz-buttons-style {
    margin-left: 3px;
  }

  #a0,
  #b0 {
    margin-left: 9px;
  }

  #logo-style {
    margin-left: 0px;
  }
  .horiz-button-nomo-style {
    margin-left: 3px;
    /* width: 205px !important; */
  }
  .horiz-button-nomo-style .v-responsive__content {
    /* align-items: center;
    justify-content: center; */
    font-weight: 1000;
    text-transform: uppercase;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
    max-width: 150px;
    margin-left: 10px !important;
    position: absolute;
    /* width: 150px; */
    display: inline;
    height: 48px;
    /* padding-left: 10px; */
    padding-top: 15px;
  }
}
@media screen and (max-width: 600px) {
  .v-tab {
    color: white;
    min-width: 60px;

    /* width: 205px; */
    margin-left: -2px;
    font-weight: 1000;
    /* max-width: 205px; */
  }
  div.v-tab:nth-child(1) {
    /* color: white; */
    margin-left: 10px;
    /* width: 205px; */
  }
  #mezoregion {
    margin-left: -2px;
  }
  .horiz-buttons-style {
    margin-left: 10px;
  }
  #logo-style {
    margin-left: 10px;
  }
  .v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:last-child,
  .v-application--is-ltr .v-toolbar__extension > .v-btn.v-btn--icon:last-child {
    margin-right: 10px;
  }
}
</style>
